In [1]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
pd.set_option("Display.max_columns", None)
# Example: pd.set_option('display.max_columns', None)

In [2]:
import datetime
from dateutil.relativedelta import relativedelta

def get_week_start_dates(start_date, end_date):
    week_start_dates = []
    current_date = start_date
    while current_date <= end_date:
        week_start_date = current_date - datetime.timedelta(days=current_date.weekday())
        week_start_dates.append(week_start_date)
        current_date += relativedelta(weeks=1)
    return week_start_dates

start_date = datetime.date(2024, 1, 1)
end_date = datetime.date(2024, 5, 26)

week_start_dates = get_week_start_dates(start_date, end_date)
print(week_start_dates)

[datetime.date(2024, 1, 1), datetime.date(2024, 1, 8), datetime.date(2024, 1, 15), datetime.date(2024, 1, 22), datetime.date(2024, 1, 29), datetime.date(2024, 2, 5), datetime.date(2024, 2, 12), datetime.date(2024, 2, 19), datetime.date(2024, 2, 26), datetime.date(2024, 3, 4), datetime.date(2024, 3, 11), datetime.date(2024, 3, 18), datetime.date(2024, 3, 25), datetime.date(2024, 4, 1), datetime.date(2024, 4, 8), datetime.date(2024, 4, 15), datetime.date(2024, 4, 22), datetime.date(2024, 4, 29), datetime.date(2024, 5, 6), datetime.date(2024, 5, 13), datetime.date(2024, 5, 20)]

In [3]:
sq = """drop table if exists dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2_backup;"""
client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=4b4dae99-9d28-4e75-8e54-ed75b0b282f6>

In [4]:
sq = """create table dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2_backup as select * from dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2;"""
client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=a4c6402c-f675-4bf9-8e30-8bb92615a703>

In [6]:
dfbackup = client.query("""select * from dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2_backup""").to_dataframe(progress_bar_type='tqdm')
dfbackup.sort_values(by = 'Date')

Job ID c9334719-6f9a-4b0e-8885-a4b3d4c33140 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,Date,Total_registered_users,Total_registered_users_WoW_Change,Total_open_TSA_customers,Total_open_TSA_customers_WoW_Change,MAU,MAU_WoW_Change,MMAU,MMAU_WoW_Change,ACL_Applied_Loans,ACL_Applied_Loans_WoW_Change,ACL_customers,ACL_customers_WoW_Change,MMAU_ACL_difference,MMAU_ACL_difference_WoW_Change,Offers_extended,Uptake,MAU_budget,ACLTSAbudget
0,2024-01-01 00:00:00+00:00,1355336,<NA>,516362,<NA>,73572,<NA>,50617,<NA>,0,0,0,<NA>,50617,<NA>,0,NaN,82693,150
3,2024-01-08 00:00:00+00:00,1362292,6956,519839,3477,73835,263,50778,161,0,0,0,0,50778,161,0,NaN,82693,150
4,2024-01-15 00:00:00+00:00,1369085,6793,523114,3275,74108,273,50845,67,0,0,0,0,50845,67,0,NaN,82693,150
1,2024-01-22 00:00:00+00:00,1376006,6921,516477,-6637,74288,180,51028,183,0,0,0,0,51028,183,0,NaN,82693,150
2,2024-01-29 00:00:00+00:00,1383107,7101,519803,3326,74193,-95,50900,-128,0,0,0,0,50900,-128,0,NaN,82693,150
9,2024-02-05 00:00:00+00:00,1390338,7231,522814,3011,74287,94,50985,85,0,0,0,0,50985,85,0,NaN,86193,150
10,2024-02-12 00:00:00+00:00,1397598,7260,525724,2910,74490,203,50903,-82,0,0,0,0,50903,-82,0,NaN,86193,150
12,2024-02-19 00:00:00+00:00,1404530,6932,528591,2867,74783,293,50728,-175,0,0,0,0,50728,-175,0,NaN,86193,150
11,2024-02-26 00:00:00+00:00,1411640,7110,521983,-6608,75099,316,50840,112,0,0,0,0,50840,112,0,NaN,86193,150
5,2024-03-04 00:00:00+00:00,1418388,6748,525010,3027,75818,719,50987,147,0,0,0,0,50987,147,0,NaN,100000,150
7,2024-03-11 00:00:00+00:00,1425333,6945,527673,2663,75776,-42,50900,-87,0,0,0,0,50900,-87,0,NaN,100000,150
6,2024-03-18 00:00:00+00:00,1432862,7529,530746,3073,75682,-94,50963,63,0,0,0,0,50963,63,0,NaN,100000,150
8,2024-03-25 00:00:00+00:00,1439787,6925,533434,2688,75501,-181,50783,-180,0,0,0,0,50783,-180,0,NaN,100000,150
15,2024-04-01 00:00:00+00:00,1447164,7377,526058,-7376,75070,-431,50589,-194,0,0,0,0,50589,-194,0,NaN,75000,150
13,2024-04-08 00:00:00+00:00,1455861,8697,525441,-617,75103,33,50574,-15,0,0,0,0,50574,-15,0,NaN,75000,150
14,2024-04-15 00:00:00+00:00,1465200,9339,529304,3863,74863,-240,50362,-212,0,0,0,0,50362,-212,0,NaN,75000,150
16,2024-04-22 00:00:00+00:00,1475713,10513,534136,4832,75272,409,50464,102,0,0,0,0,50464,102,0,NaN,75000,150
17,2024-04-29 00:00:00+00:00,1487371,11658,531960,-2176,75309,37,50489,25,5,0,0,0,50489,25,300,0.000000,75000,150
18,2024-05-06 00:00:00+00:00,1500125,12754,537927,5967,75484,175,50242,-247,16,11,1,1,50241,-248,1400,0.000714,150000,150
19,2024-05-13 00:00:00+00:00,1511923,11798,542902,4975,75048,-436,50138,-104,27,11,2,1,50137,-104,2600,0.000385,150000,150
20,2024-05-20 00:00:00+00:00,1523820,11897,548837,5935,75433,385,50183,45,48,21,3,1,50180,43,4400,0.000682,150000,150

In [7]:
dfbackup.columns

Index(['Date', 'Total_registered_users', 'Total_registered_users_WoW_Change',
       'Total_open_TSA_customers', 'Total_open_TSA_customers_WoW_Change',
       'MAU', 'MAU_WoW_Change', 'MMAU', 'MMAU_WoW_Change', 'ACL_Applied_Loans',
       'ACL_Applied_Loans_WoW_Change', 'ACL_customers',
       'ACL_customers_WoW_Change', 'MMAU_ACL_difference',
       'MMAU_ACL_difference_WoW_Change', 'Offers_extended', 'Uptake',
       'MAU_budget', 'ACLTSAbudget'],
      dtype='object')

In [8]:
%%time
res =  pd.DataFrame()
for date in week_start_dates:
    sq = f"""select "{date}" Date, count(distinct digitalLoanAccountId) ACL_Processed_Loans, from `risk_credit_mis.loan_master_table` where new_loan_type = 'ACL TSA' and date_trunc(startApplyDateTime, day) < "{date}"
    and date(decision_date) is not null
    group by 1"""
    df = client.query(sq).to_dataframe()
    res = pd.concat([res,df])

res

<timed exec>:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.

CPU times: total: 172 ms
Wall time: 22.2 s

         Date  ACL_Processed_Loans
0  2024-05-06                    8
0  2024-05-13                   12
0  2024-05-20                   25

In [9]:
# Calculate the week-on-week change for each column
for column in res.columns[1:]:  # Exclude 'Date' column
    res[f'{column}_WoW_Change'] = res[column].diff()

res

         Date  ACL_Processed_Loans  ACL_Processed_Loans_WoW_Change
0  2024-05-06                    8                            <NA>
0  2024-05-13                   12                               4
0  2024-05-20                   25                              13

In [10]:
res.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 0
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Date                            3 non-null      object
 1   ACL_Processed_Loans             3 non-null      Int64
 2   ACL_Processed_Loans_WoW_Change  2 non-null      Int64
dtypes: Int64(2), object(1)
memory usage: 102.0+ bytes

In [11]:
res['Date'] = pd.to_datetime(res['Date'], utc=True)

In [12]:
dfbackup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Date                                 21 non-null     datetime64[us, UTC]
 1   Total_registered_users               21 non-null     Int64
 2   Total_registered_users_WoW_Change    20 non-null     Int64
 3   Total_open_TSA_customers             21 non-null     Int64
 4   Total_open_TSA_customers_WoW_Change  20 non-null     Int64
 5   MAU                                  21 non-null     Int64
 6   MAU_WoW_Change                       20 non-null     Int64
 7   MMAU                                 21 non-null     Int64
 8   MMAU_WoW_Change                      20 non-null     Int64
 9   ACL_Applied_Loans                    21 non-null     Int64
 10  ACL_Applied_Loans_WoW_Change         21 non-null     Int64
 11  ACL_customers                        21 non-null     Int64
 12  ACL_customers_WoW_Change             20 non-null     Int64
 13  MMAU_ACL_difference                  21 non-null     Int64
 14  MMAU_ACL_difference_WoW_Change       20 non-null     Int64
 15  Offers_extended                      21 non-null     Int64
 16  Uptake                               4 non-null      float64
 17  MAU_budget                           21 non-null     Int64
 18  ACLTSAbudget                         21 non-null     Int64
dtypes: Int64(17), datetime64[us, UTC](1), float64(1)
memory usage: 3.6 KB

In [13]:
dfbackup = dfbackup.merge(res, left_on='Date', right_on='Date', how = 'left')
dfbackup.sort_values(by='Date')

,Date,Total_registered_users,Total_registered_users_WoW_Change,Total_open_TSA_customers,Total_open_TSA_customers_WoW_Change,MAU,MAU_WoW_Change,MMAU,MMAU_WoW_Change,ACL_Applied_Loans,ACL_Applied_Loans_WoW_Change,ACL_customers,ACL_customers_WoW_Change,MMAU_ACL_difference,MMAU_ACL_difference_WoW_Change,Offers_extended,Uptake,MAU_budget,ACLTSAbudget,ACL_Processed_Loans,ACL_Processed_Loans_WoW_Change
0,2024-01-01 00:00:00+00:00,1355336,<NA>,516362,<NA>,73572,<NA>,50617,<NA>,0,0,0,<NA>,50617,<NA>,0,NaN,82693,150,<NA>,<NA>
3,2024-01-08 00:00:00+00:00,1362292,6956,519839,3477,73835,263,50778,161,0,0,0,0,50778,161,0,NaN,82693,150,<NA>,<NA>
4,2024-01-15 00:00:00+00:00,1369085,6793,523114,3275,74108,273,50845,67,0,0,0,0,50845,67,0,NaN,82693,150,<NA>,<NA>
1,2024-01-22 00:00:00+00:00,1376006,6921,516477,-6637,74288,180,51028,183,0,0,0,0,51028,183,0,NaN,82693,150,<NA>,<NA>
2,2024-01-29 00:00:00+00:00,1383107,7101,519803,3326,74193,-95,50900,-128,0,0,0,0,50900,-128,0,NaN,82693,150,<NA>,<NA>
9,2024-02-05 00:00:00+00:00,1390338,7231,522814,3011,74287,94,50985,85,0,0,0,0,50985,85,0,NaN,86193,150,<NA>,<NA>
10,2024-02-12 00:00:00+00:00,1397598,7260,525724,2910,74490,203,50903,-82,0,0,0,0,50903,-82,0,NaN,86193,150,<NA>,<NA>
12,2024-02-19 00:00:00+00:00,1404530,6932,528591,2867,74783,293,50728,-175,0,0,0,0,50728,-175,0,NaN,86193,150,<NA>,<NA>
11,2024-02-26 00:00:00+00:00,1411640,7110,521983,-6608,75099,316,50840,112,0,0,0,0,50840,112,0,NaN,86193,150,<NA>,<NA>
5,2024-03-04 00:00:00+00:00,1418388,6748,525010,3027,75818,719,50987,147,0,0,0,0,50987,147,0,NaN,100000,150,<NA>,<NA>
7,2024-03-11 00:00:00+00:00,1425333,6945,527673,2663,75776,-42,50900,-87,0,0,0,0,50900,-87,0,NaN,100000,150,<NA>,<NA>
6,2024-03-18 00:00:00+00:00,1432862,7529,530746,3073,75682,-94,50963,63,0,0,0,0,50963,63,0,NaN,100000,150,<NA>,<NA>
8,2024-03-25 00:00:00+00:00,1439787,6925,533434,2688,75501,-181,50783,-180,0,0,0,0,50783,-180,0,NaN,100000,150,<NA>,<NA>
15,2024-04-01 00:00:00+00:00,1447164,7377,526058,-7376,75070,-431,50589,-194,0,0,0,0,50589,-194,0,NaN,75000,150,<NA>,<NA>
13,2024-04-08 00:00:00+00:00,1455861,8697,525441,-617,75103,33,50574,-15,0,0,0,0,50574,-15,0,NaN,75000,150,<NA>,<NA>
14,2024-04-15 00:00:00+00:00,1465200,9339,529304,3863,74863,-240,50362,-212,0,0,0,0,50362,-212,0,NaN,75000,150,<NA>,<NA>
16,2024-04-22 00:00:00+00:00,1475713,10513,534136,4832,75272,409,50464,102,0,0,0,0,50464,102,0,NaN,75000,150,<NA>,<NA>
17,2024-04-29 00:00:00+00:00,1487371,11658,531960,-2176,75309,37,50489,25,5,0,0,0,50489,25,300,0.000000,75000,150,<NA>,<NA>
18,2024-05-06 00:00:00+00:00,1500125,12754,537927,5967,75484,175,50242,-247,16,11,1,1,50241,-248,1400,0.000714,150000,150,8,<NA>
19,2024-05-13 00:00:00+00:00,1511923,11798,542902,4975,75048,-436,50138,-104,27,11,2,1,50137,-104,2600,0.000385,150000,150,12,4
20,2024-05-20 00:00:00+00:00,1523820,11897,548837,5935,75433,385,50183,45,48,21,3,1,50180,43,4400,0.000682,150000,150,25,13

In [14]:
dfbackup['ACL_Processed_Loans'] = dfbackup['ACL_Processed_Loans'].fillna(0)
dfbackup['ACL_Processed_Loans_WoW_Change'] = dfbackup['ACL_Processed_Loans_WoW_Change'].fillna(0)

In [15]:
dfbackup.sort_values(by='Date')

,Date,Total_registered_users,Total_registered_users_WoW_Change,Total_open_TSA_customers,Total_open_TSA_customers_WoW_Change,MAU,MAU_WoW_Change,MMAU,MMAU_WoW_Change,ACL_Applied_Loans,ACL_Applied_Loans_WoW_Change,ACL_customers,ACL_customers_WoW_Change,MMAU_ACL_difference,MMAU_ACL_difference_WoW_Change,Offers_extended,Uptake,MAU_budget,ACLTSAbudget,ACL_Processed_Loans,ACL_Processed_Loans_WoW_Change
0,2024-01-01 00:00:00+00:00,1355336,<NA>,516362,<NA>,73572,<NA>,50617,<NA>,0,0,0,<NA>,50617,<NA>,0,NaN,82693,150,0,0
3,2024-01-08 00:00:00+00:00,1362292,6956,519839,3477,73835,263,50778,161,0,0,0,0,50778,161,0,NaN,82693,150,0,0
4,2024-01-15 00:00:00+00:00,1369085,6793,523114,3275,74108,273,50845,67,0,0,0,0,50845,67,0,NaN,82693,150,0,0
1,2024-01-22 00:00:00+00:00,1376006,6921,516477,-6637,74288,180,51028,183,0,0,0,0,51028,183,0,NaN,82693,150,0,0
2,2024-01-29 00:00:00+00:00,1383107,7101,519803,3326,74193,-95,50900,-128,0,0,0,0,50900,-128,0,NaN,82693,150,0,0
9,2024-02-05 00:00:00+00:00,1390338,7231,522814,3011,74287,94,50985,85,0,0,0,0,50985,85,0,NaN,86193,150,0,0
10,2024-02-12 00:00:00+00:00,1397598,7260,525724,2910,74490,203,50903,-82,0,0,0,0,50903,-82,0,NaN,86193,150,0,0
12,2024-02-19 00:00:00+00:00,1404530,6932,528591,2867,74783,293,50728,-175,0,0,0,0,50728,-175,0,NaN,86193,150,0,0
11,2024-02-26 00:00:00+00:00,1411640,7110,521983,-6608,75099,316,50840,112,0,0,0,0,50840,112,0,NaN,86193,150,0,0
5,2024-03-04 00:00:00+00:00,1418388,6748,525010,3027,75818,719,50987,147,0,0,0,0,50987,147,0,NaN,100000,150,0,0
7,2024-03-11 00:00:00+00:00,1425333,6945,527673,2663,75776,-42,50900,-87,0,0,0,0,50900,-87,0,NaN,100000,150,0,0
6,2024-03-18 00:00:00+00:00,1432862,7529,530746,3073,75682,-94,50963,63,0,0,0,0,50963,63,0,NaN,100000,150,0,0
8,2024-03-25 00:00:00+00:00,1439787,6925,533434,2688,75501,-181,50783,-180,0,0,0,0,50783,-180,0,NaN,100000,150,0,0
15,2024-04-01 00:00:00+00:00,1447164,7377,526058,-7376,75070,-431,50589,-194,0,0,0,0,50589,-194,0,NaN,75000,150,0,0
13,2024-04-08 00:00:00+00:00,1455861,8697,525441,-617,75103,33,50574,-15,0,0,0,0,50574,-15,0,NaN,75000,150,0,0
14,2024-04-15 00:00:00+00:00,1465200,9339,529304,3863,74863,-240,50362,-212,0,0,0,0,50362,-212,0,NaN,75000,150,0,0
16,2024-04-22 00:00:00+00:00,1475713,10513,534136,4832,75272,409,50464,102,0,0,0,0,50464,102,0,NaN,75000,150,0,0
17,2024-04-29 00:00:00+00:00,1487371,11658,531960,-2176,75309,37,50489,25,5,0,0,0,50489,25,300,0.000000,75000,150,0,0
18,2024-05-06 00:00:00+00:00,1500125,12754,537927,5967,75484,175,50242,-247,16,11,1,1,50241,-248,1400,0.000714,150000,150,8,0
19,2024-05-13 00:00:00+00:00,1511923,11798,542902,4975,75048,-436,50138,-104,27,11,2,1,50137,-104,2600,0.000385,150000,150,12,4
20,2024-05-20 00:00:00+00:00,1523820,11897,548837,5935,75433,385,50183,45,48,21,3,1,50180,43,4400,0.000682,150000,150,25,13

In [16]:
final = dfbackup[['Date', 'Total_registered_users', 'Total_registered_users_WoW_Change', 'Total_open_TSA_customers','Total_open_TSA_customers_WoW_Change', 'MAU', 'MAU_WoW_Change'
    , 'MMAU', 'MMAU_WoW_Change', 'ACL_Applied_Loans','ACL_Applied_Loans_WoW_Change',
    'ACL_Processed_Loans', 'ACL_Processed_Loans_WoW_Change', 
    'ACL_customers', 'ACL_customers_WoW_Change' , 'MMAU_ACL_difference','MMAU_ACL_difference_WoW_Change', 'Offers_extended', 'Uptake', 'MAU_budget'
    ,'ACLTSAbudget']].copy()

In [17]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Date                                 21 non-null     datetime64[us, UTC]
 1   Total_registered_users               21 non-null     Int64
 2   Total_registered_users_WoW_Change    20 non-null     Int64
 3   Total_open_TSA_customers             21 non-null     Int64
 4   Total_open_TSA_customers_WoW_Change  20 non-null     Int64
 5   MAU                                  21 non-null     Int64
 6   MAU_WoW_Change                       20 non-null     Int64
 7   MMAU                                 21 non-null     Int64
 8   MMAU_WoW_Change                      20 non-null     Int64
 9   ACL_Applied_Loans                    21 non-null     Int64
 10  ACL_Applied_Loans_WoW_Change         21 non-null     Int64
 11  ACL_Processed_Loans                  21 non-null     Int64
 12  ACL_Processed_Loans_WoW_Change       21 non-null     Int64
 13  ACL_customers                        21 non-null     Int64
 14  ACL_customers_WoW_Change             20 non-null     Int64
 15  MMAU_ACL_difference                  21 non-null     Int64
 16  MMAU_ACL_difference_WoW_Change       20 non-null     Int64
 17  Offers_extended                      21 non-null     Int64
 18  Uptake                               4 non-null      float64
 19  MAU_budget                           21 non-null     Int64
 20  ACLTSAbudget                         21 non-null     Int64
dtypes: Int64(19), datetime64[us, UTC](1), float64(1)
memory usage: 4.0 KB

In [18]:
# Define the dataset and table references
dataset_id = 'dap_ds_poweruser_playground'
table_id = 'TSA_Report_Marketing_Template_v3'
# Define the table schema as per your DataFrame columns
schema = [
    bigquery.SchemaField("Date", "DATE"),
    bigquery.SchemaField("Total_registered_users", "INT64"),
    bigquery.SchemaField("Total_registered_users_WoW_Change", "INT64"),
    bigquery.SchemaField("Total_open_TSA_customers", "INT64"),
    bigquery.SchemaField("Total_open_TSA_customers_WoW_Change", "INT64"),
    bigquery.SchemaField("MAU", "INT64"),
    bigquery.SchemaField("MAU_WoW_Change", "INT64"),
    bigquery.SchemaField("MMAU", "INT64"),
    bigquery.SchemaField("MMAU_WoW_Change", "INT64"),
    bigquery.SchemaField("ACL_Applied_Loans", "Int64"),
    bigquery.SchemaField("ACL_Applied_Loans_WoW_Change", "Int64"),
    bigquery.SchemaField("ACL_Processed_Loans", "Int64"),
    bigquery.SchemaField("ACL_Processed_Loans_WoW_Change", "Int64"),
    bigquery.SchemaField("ACL_customers", "INT64"),
    bigquery.SchemaField("ACL_customers_WoW_Change", "INT64"),
    bigquery.SchemaField("MMAU_ACL_difference", "INT64"),
    bigquery.SchemaField("MMAU_ACL_difference_WoW_Change", "INT64"),
    bigquery.SchemaField("Offers_extended", "INT64"),
    bigquery.SchemaField("Uptake", "INT64"),
    bigquery.SchemaField("MAU_budget", "INT64"),
    bigquery.SchemaField("ACLTSAbudget", "INT64"),
]
# Create the dataset reference
dataset_ref = client.dataset(dataset_id)
# Define the table reference
table_ref = dataset_ref.table(table_id)
# Configure the job to overwrite the table if it already exists
job_config = bigquery.LoadJobConfig()
# Load the DataFrame into BigQuery
job = client.load_table_from_dataframe(final, table_ref, job_config=job_config)
# Wait for the job to complete
job.result()
print(f"Table {table_id} created in dataset {dataset_id}.")

Table TSA_Report_Marketing_Template_v3 created in dataset dap_ds_poweruser_playground.