In [1]:
# %% [markdown]
# # Jupyter Notebook Loading Header
#
# This is a custom loading header for Jupyter Notebooks in Visual Studio Code.
# It includes common imports and settings to get you started quickly.

# %% [markdown]
## Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.cloud import bigquery
import os
path = r'C:\Users\DwaipayanChakroborti\AppData\Roaming\gcloud\legacy_credentials\dchakroborti@tonikbank.com\adc.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path
client = bigquery.Client(project='prj-prod-dataplatform')

# %% [markdown]
## Configure Settings
# Set options or configurations as needed
pd.set_option("Display.max_columns", None)
# Example: pd.set_option('display.max_columns', None)

In [2]:
import datetime
from dateutil.relativedelta import relativedelta

def get_week_start_dates(start_date, end_date):
    week_start_dates = []
    current_date = start_date
    while current_date <= end_date:
        week_start_date = current_date - datetime.timedelta(days=current_date.weekday())
        week_start_dates.append(week_start_date)
        current_date += relativedelta(weeks=1)
    return week_start_dates

start_date = datetime.date(2025, 2, 24)
end_date = datetime.date(2025, 3, 2)

week_start_dates = get_week_start_dates(start_date, end_date)
print(week_start_dates)

[datetime.date(2025, 2, 24)]

In [3]:
sq = """drop table if exists dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2_backup;"""
client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=cfd593d1-973d-4b9d-8457-c79e310d46b1>

In [4]:
sq = """create table dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2_backup as select * from dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2;"""
client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=4f566ac8-9709-464a-8693-daa02234f178>

In [5]:
dfbackup = client.query("""select * from dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2_backup""").to_dataframe(progress_bar_type='tqdm')
dfbackup.sort_values(by='Date', ascending=False)

Job ID d7602b84-aaa4-4480-8ad7-d8ed043d3a9e successfully executed: 100%|██████████|
Downloading: 100%|██████████|

,Date,Total_registered_users,Total_registered_users_WoW_Change,Total_open_TSA_customers,Total_open_TSA_customers_WoW_Change,MAU,MAU_WoW_Change,MMAU,MMAU_WoW_Change,ACL_Applied_Loans,ACL_Applied_Loans_WoW_Change,ACL_Processed_Loans,ACL_Processed_Loans_WoW_Change,ACL_customers,ACL_customers_WoW_Change,MMAU_ACL_difference,MMAU_ACL_difference_WoW_Change,Offers_extended,Uptake,MAU_budget,ACLTSAbudget,IncomingAmount,OutgoingAmount
59,2025-02-17 00:00:00+00:00,2265089,16131,721995,-11956,84550,745,59074,594,3396,78,2467,62,1842,57,57232,537,44077,0.041791,500000,150,3.097507e+08,3.749276e+08
58,2025-02-10 00:00:00+00:00,2248958,15350,733951,-5743,83805,157,58480,142,3318,207,2405,160,1785,116,56695,26,44077,0.040497,500000,150,3.428686e+08,4.392070e+08
57,2025-02-03 00:00:00+00:00,2233608,16307,739694,9584,83648,336,58338,-46,3111,122,2245,81,1669,63,56669,-109,42742,0.039048,500000,150,3.697289e+08,4.446947e+08
56,2025-01-27 00:00:00+00:00,2217301,15250,730110,9257,83312,327,58384,279,2989,190,2164,157,1606,112,56778,167,42742,0.037574,450000,150,2.463676e+08,3.130105e+08
55,2025-01-20 00:00:00+00:00,2202051,16494,720853,10065,82985,38,58105,-270,2799,143,2007,92,1494,62,56611,-332,41368,0.036115,450000,150,3.427864e+08,3.956259e+08
54,2025-01-13 00:00:00+00:00,2185557,15661,710788,9822,82947,256,58375,-57,2656,182,1915,130,1432,94,56943,-151,41368,0.034616,450000,150,3.083047e+08,3.723789e+08
53,2025-01-06 00:00:00+00:00,2169896,17400,700966,-24967,82691,18,58432,-12,2474,75,1785,58,1338,43,57094,-55,39248,0.034091,450000,150,3.670956e+08,4.469671e+08
52,2024-12-30 00:00:00+00:00,2152496,22768,725933,-10357,82673,33,58444,126,2399,143,1727,132,1295,109,57149,17,39248,0.032995,350000,150,2.923218e+08,3.381911e+08
51,2024-12-23 00:00:00+00:00,2129728,21264,736290,12125,82640,-108,58318,21,2256,328,1595,254,1186,202,57132,-181,39248,0.030218,350000,150,3.131593e+08,3.612649e+08
50,2024-12-16 00:00:00+00:00,2108464,18668,724165,11599,82748,81,58297,863,1928,222,1341,179,984,141,57313,722,37395,0.026314,350000,150,3.480620e+08,3.777368e+08
49,2024-12-09 00:00:00+00:00,2089796,18811,712566,11789,82667,201,57434,580,1706,452,1162,328,843,234,56591,346,37395,0.022543,350000,150,3.548799e+08,4.187973e+08
48,2024-12-02 00:00:00+00:00,2070985,18439,700777,-27160,82466,223,56854,78,1254,296,834,221,609,175,56245,-97,31994,0.019035,350000,150,3.886835e+08,4.291251e+08
47,2024-11-25 00:00:00+00:00,2052546,18943,727937,-3705,82243,-545,56776,-97,958,619,613,375,434,349,56342,-446,30093,0.014422,350000,150,2.568038e+08,3.163612e+08
46,2024-11-18 00:00:00+00:00,2033603,18308,731642,11048,82788,-430,56873,47,339,250,238,189,85,79,56788,-32,13130,0.006474,350000,150,3.313438e+08,3.774904e+08
44,2024-11-11 00:00:00+00:00,2015295,18489,720594,10727,83218,-213,56826,201,89,0,49,0,6,0,56820,201,5400,0.001111,350000,150,3.052054e+08,3.674654e+08
40,2024-11-04 00:00:00+00:00,1996806,18474,709867,11123,83431,-684,56625,-290,89,0,49,0,6,0,56619,-290,5400,0.001111,350000,150,3.476568e+08,4.241136e+08
43,2024-10-28 00:00:00+00:00,1978332,18864,698744,10734,84115,-819,56915,-65,89,0,49,0,6,0,56909,-65,5400,0.001111,350000,150,2.144704e+08,2.845398e+08
41,2024-10-21 00:00:00+00:00,1959468,21473,688010,-14043,84934,-8,56980,-43,89,0,49,0,6,0,56974,-43,5400,0.001111,350000,150,2.876019e+08,4.151875e+08
42,2024-10-14 00:00:00+00:00,1937995,20707,702053,12173,84942,713,57023,96,89,0,49,0,6,0,57017,96,5400,0.001111,350000,150,2.679780e+08,4.399739e+08
45,2024-10-07 00:00:00+00:00,1917288,22331,689880,12771,84229,1365,56927,-9006,89,0,49,0,6,0,56921,-9006,5400,0.001111,350000,150,3.517282e+08,5.782022e+08
35,2024-09-30 00:00:00+00:00,1894957,23074,677109,12978,82864,-229,65933,948,89,0,49,0,6,0,65927,948,5400,0.001111,300000,150,2.809661e+08,4.167438e+08
38,2024-09-23 00:00:00+00:00,1871883,22564,664131,12777,83093,998,64985,1134,89,0,49,0,6,0,64979,1134,5400,0.001111,300000,150,2.572217e+08,3.926631e+08
37,2024-09-16 00:00:00+00:00,1849319,17585,651354,-7400,82095,145,63851,1188,89,0,49,0,6,0,63845,1188,5400,0.001111,300000,150,3.144733e+08,4.317454e+08
39,2024-09-09 00:00:00+00:00,1831734,15875,658754,9372,81950,-408,62663,604,89,0,49,0,6,0,62657,604,5400,0.001111,300000,150,2.797521e+08,4.532894e+08
36,2024-09-02 00:00:00+00:00,1815859,23653,649382,-9627,82358,-296,62059,7097,89,0,49,0,6,0,62053,7097,5400,0.001111,300000,150,3.138544e+08,4.537983e+08
34,2024-08-26 00:00:00+00:00,1792206,23799,659009,13091,82654,232,54962,326,89,0,49,0,6,0,54956,326,5400,0.001111,250000,150,2.276553e+08,3.663714e+08
33,2024-08-19 00:00:00+00:00,1768407,23395,645918,12927,82422,359,54636,23,89,0,49,0,6,0,54630,23,5400,0.001111,250000,150,2.966166e+08,4.519118e+08
31,2024-08-12 00:00:00+00:00,1745012,22616,632991,-2451,82063,493,54613,341,89,0,49,0,6,0,54607,341,5400,0.001111,250000,150,2.740073e+08,4.272104e+08
32,2024-08-05 00:00:00+00:00,1722396,22825,635442,12601,81570,419,54272,271,89,0,49,0,6,0,54266,271,5400,0.001111,250000,150,3.615259e+08,5.787825e+08
28,2024-07-29 00:00:00+00:00,1699571,19969,622841,11133,81151,-44,54001,85,89,0,49,0,6,0,53995,85,5400,0.001111,200000,150,2.583061e+08,4.218204e+08
29,2024-07-22 00:00:00+00:00,1679602,19218,611708,10713,81195,548,53916,474,89,0,49,0,6,0,53910,474,5400,0.001111,200000,150,2.870848e+08,4.694024e+08
30,2024-07-15 00:00:00+00:00,1660384,17994,600995,9839,80647,162,53442,160,89,0,49,0,6,0,53436,160,5400,0.001111,200000,150,3.038853e+08,5.232131e+08
27,2024-07-08 00:00:00+00:00,1642390,18875,591156,10024,80485,1304,53282,915,89,0,49,0,6,0,53276,915,5400,0.001111,200000,150,3.451679e+08,6.225982e+08
26,2024-07-01 00:00:00+00:00,1623515,19260,581132,1078,79181,1205,52367,445,89,0,49,0,6,0,52361,445,5400,0.001111,200000,150,3.088311e+08,5.026121e+08
25,2024-06-24 00:00:00+00:00,1604255,19183,580054,9665,77976,797,51922,349,89,0,49,2,6,1,51916,348,5400,0.001111,150000,150,2.330592e+08,3.975463e+08
24,2024-06-17 00:00:00+00:00,1585072,20086,570389,9956,77179,812,51573,1055,89,4,47,2,5,0,51568,1055,5400,0.000926,150000,150,2.877646e+08,4.256710e+08
23,2024-06-10 00:00:00+00:00,1564986,17323,560433,8480,76367,323,50518,15,85,8,45,6,5,2,50513,13,5400,0.000926,150000,150,2.810446e+08,4.510467e+08
19,2024-06-03 00:00:00+00:00,1547663,12680,551953,6059,76044,230,50503,72,77,5,39,0,3,0,50500,72,5400,0.000556,150000,150,3.311793e+08,4.800084e+08
20,2024-05-27 00:00:00+00:00,1534983,11163,545894,-2943,75814,381,50431,248,72,24,39,14,3,0,50428,248,5400,0.000556,150000,150,2.383715e+08,3.619388e+08
21,2024-05-20 00:00:00+00:00,1523820,11897,548837,5935,75433,385,50183,45,48,21,25,13,3,1,50180,43,4400,0.000682,150000,150,3.636701e+08,5.373206e+08
18,2024-05-13 00:00:00+00:00,1511923,11798,542902,4975,75048,-436,50138,-104,27,11,12,4,2,1,50137,-104,2600,0.000385,150000,150,2.937756e+08,4.604210e+08
22,2024-05-06 00:00:00+00:00,1500125,12754,537927,5967,75484,175,50242,-247,16,11,8,8,1,1,50241,-248,1400,0.000714,150000,150,3.951591e+08,6.119330e+08
4,2024-04-29 00:00:00+00:00,1487371,11658,531960,-2176,75309,37,50489,25,5,5,0,0,0,0,50489,25,300,0.000000,75000,150,2.945655e+08,4.487280e+08
0,2024-04-22 00:00:00+00:00,1475713,10513,534136,4832,75272,409,50464,102,0,0,0,0,0,0,50464,102,0,NaN,75000,150,2.928283e+08,4.459126e+08
3,2024-04-15 00:00:00+00:00,1465200,9339,529304,3863,74863,-240,50362,-212,0,0,0,0,0,0,50362,-212,0,NaN,75000,150,3.184236e+08,4.682940e+08
2,2024-04-08 00:00:00+00:00,1455861,8697,525441,-617,75103,33,50574,-15,0,0,0,0,0,0,50574,-15,0,NaN,75000,150,3.531993e+08,5.532945e+08
1,2024-04-01 00:00:00+00:00,1447164,7377,526058,-7376,75070,-431,50589,-194,0,0,0,0,0,0,50589,-194,0,NaN,75000,150,3.310704e+08,4.751903e+08
17,2024-03-25 00:00:00+00:00,1439787,6925,533434,2688,75501,-181,50783,-180,0,0,0,0,0,0,50783,-180,0,NaN,100000,150,2.842771e+08,4.134666e+08
16,2024-03-18 00:00:00+00:00,1432862,7529,530746,3073,75682,-94,50963,63,0,0,0,0,0,0,50963,63,0,NaN,100000,150,3.296813e+08,4.685991e+08
14,2024-03-11 00:00:00+00:00,1425333,6945,527673,2663,75776,-42,50900,-87,0,0,0,0,0,0,50900,-87,0,NaN,100000,150,3.258497e+08,4.823249e+08
15,2024-03-04 00:00:00+00:00,1418388,6748,525010,3027,75818,719,50987,147,0,0,0,0,0,0,50987,147,0,NaN,100000,150,4.116797e+08,6.156079e+08
10,2024-02-26 00:00:00+00:00,1411640,7110,521983,-6608,75099,316,50840,112,0,0,0,0,0,0,50840,112,0,NaN,86193,150,2.675935e+08,4.148115e+08
13,2024-02-19 00:00:00+00:00,1404530,6932,528591,2867,74783,293,50728,-175,0,0,0,0,0,0,50728,-175,0,NaN,86193,150,3.264817e+08,4.766446e+08
11,2024-02-12 00:00:00+00:00,1397598,7260,525724,2910,74490,203,50903,-82,0,0,0,0,0,0,50903,-82,0,NaN,86193,150,2.822920e+08,4.343265e+08
12,2024-02-05 00:00:00+00:00,1390338,7231,522814,3011,74287,94,50985,85,0,0,0,0,0,0,50985,85,0,NaN,86193,150,4.104948e+08,6.265953e+08
8,2024-01-29 00:00:00+00:00,1383107,7101,519803,3326,74193,-95,50900,-128,0,0,0,0,0,0,50900,-128,0,NaN,82693,150,2.989477e+08,4.626896e+08
9,2024-01-22 00:00:00+00:00,1376006,6921,516477,-6637,74288,180,51028,183,0,0,0,0,0,0,51028,183,0,NaN,82693,150,3.032386e+08,4.846881e+08
6,2024-01-15 00:00:00+00:00,1369085,6793,523114,3275,74108,273,50845,67,0,0,0,0,0,0,50845,67,0,NaN,82693,150,3.584430e+08,5.445832e+08
5,2024-01-08 00:00:00+00:00,1362292,6956,519839,3477,73835,263,50778,161,0,0,0,0,0,0,50778,161,0,NaN,82693,150,3.947052e+08,6.577761e+08
7,2024-01-01 00:00:00+00:00,1355336,<NA>,516362,<NA>,73572,<NA>,50617,<NA>,0,<NA>,0,<NA>,0,<NA>,50617,<NA>,0,NaN,82693,150,3.244634e+08,5.013680e+08

In [6]:
dfbackup.columns

Index(['Date', 'Total_registered_users', 'Total_registered_users_WoW_Change',
       'Total_open_TSA_customers', 'Total_open_TSA_customers_WoW_Change',
       'MAU', 'MAU_WoW_Change', 'MMAU', 'MMAU_WoW_Change', 'ACL_Applied_Loans',
       'ACL_Applied_Loans_WoW_Change', 'ACL_Processed_Loans',
       'ACL_Processed_Loans_WoW_Change', 'ACL_customers',
       'ACL_customers_WoW_Change', 'MMAU_ACL_difference',
       'MMAU_ACL_difference_WoW_Change', 'Offers_extended', 'Uptake',
       'MAU_budget', 'ACLTSAbudget', 'IncomingAmount', 'OutgoingAmount'],
      dtype='object')

In [7]:
dfbackup = dfbackup[['Date', 'Total_registered_users', 'Total_open_TSA_customers', 'MAU',  'MMAU', 'ACL_Applied_Loans', 'ACL_Processed_Loans', 'ACL_customers'
                     , 'MMAU_ACL_difference', 'Offers_extended', 'Uptake',  'MAU_budget', 'IncomingAmount', 'OutgoingAmount'
       ]].copy()

In [8]:
dfbackup

,Date,Total_registered_users,Total_open_TSA_customers,MAU,MMAU,ACL_Applied_Loans,ACL_Processed_Loans,ACL_customers,MMAU_ACL_difference,Offers_extended,Uptake,MAU_budget,IncomingAmount,OutgoingAmount
0,2024-04-22 00:00:00+00:00,1475713,534136,75272,50464,0,0,0,50464,0,NaN,75000,2.928283e+08,4.459126e+08
1,2024-04-01 00:00:00+00:00,1447164,526058,75070,50589,0,0,0,50589,0,NaN,75000,3.310704e+08,4.751903e+08
2,2024-04-08 00:00:00+00:00,1455861,525441,75103,50574,0,0,0,50574,0,NaN,75000,3.531993e+08,5.532945e+08
3,2024-04-15 00:00:00+00:00,1465200,529304,74863,50362,0,0,0,50362,0,NaN,75000,3.184236e+08,4.682940e+08
4,2024-04-29 00:00:00+00:00,1487371,531960,75309,50489,5,0,0,50489,300,0.000000,75000,2.945655e+08,4.487280e+08
5,2024-01-08 00:00:00+00:00,1362292,519839,73835,50778,0,0,0,50778,0,NaN,82693,3.947052e+08,6.577761e+08
6,2024-01-15 00:00:00+00:00,1369085,523114,74108,50845,0,0,0,50845,0,NaN,82693,3.584430e+08,5.445832e+08
7,2024-01-01 00:00:00+00:00,1355336,516362,73572,50617,0,0,0,50617,0,NaN,82693,3.244634e+08,5.013680e+08
8,2024-01-29 00:00:00+00:00,1383107,519803,74193,50900,0,0,0,50900,0,NaN,82693,2.989477e+08,4.626896e+08
9,2024-01-22 00:00:00+00:00,1376006,516477,74288,51028,0,0,0,51028,0,NaN,82693,3.032386e+08,4.846881e+08
10,2024-02-26 00:00:00+00:00,1411640,521983,75099,50840,0,0,0,50840,0,NaN,86193,2.675935e+08,4.148115e+08
11,2024-02-12 00:00:00+00:00,1397598,525724,74490,50903,0,0,0,50903,0,NaN,86193,2.822920e+08,4.343265e+08
12,2024-02-05 00:00:00+00:00,1390338,522814,74287,50985,0,0,0,50985,0,NaN,86193,4.104948e+08,6.265953e+08
13,2024-02-19 00:00:00+00:00,1404530,528591,74783,50728,0,0,0,50728,0,NaN,86193,3.264817e+08,4.766446e+08
14,2024-03-11 00:00:00+00:00,1425333,527673,75776,50900,0,0,0,50900,0,NaN,100000,3.258497e+08,4.823249e+08
15,2024-03-04 00:00:00+00:00,1418388,525010,75818,50987,0,0,0,50987,0,NaN,100000,4.116797e+08,6.156079e+08
16,2024-03-18 00:00:00+00:00,1432862,530746,75682,50963,0,0,0,50963,0,NaN,100000,3.296813e+08,4.685991e+08
17,2024-03-25 00:00:00+00:00,1439787,533434,75501,50783,0,0,0,50783,0,NaN,100000,2.842771e+08,4.134666e+08
18,2024-05-13 00:00:00+00:00,1511923,542902,75048,50138,27,12,2,50137,2600,0.000385,150000,2.937756e+08,4.604210e+08
19,2024-06-03 00:00:00+00:00,1547663,551953,76044,50503,77,39,3,50500,5400,0.000556,150000,3.311793e+08,4.800084e+08
20,2024-05-27 00:00:00+00:00,1534983,545894,75814,50431,72,39,3,50428,5400,0.000556,150000,2.383715e+08,3.619388e+08
21,2024-05-20 00:00:00+00:00,1523820,548837,75433,50183,48,25,3,50180,4400,0.000682,150000,3.636701e+08,5.373206e+08
22,2024-05-06 00:00:00+00:00,1500125,537927,75484,50242,16,8,1,50241,1400,0.000714,150000,3.951591e+08,6.119330e+08
23,2024-06-10 00:00:00+00:00,1564986,560433,76367,50518,85,45,5,50513,5400,0.000926,150000,2.810446e+08,4.510467e+08
24,2024-06-17 00:00:00+00:00,1585072,570389,77179,51573,89,47,5,51568,5400,0.000926,150000,2.877646e+08,4.256710e+08
25,2024-06-24 00:00:00+00:00,1604255,580054,77976,51922,89,49,6,51916,5400,0.001111,150000,2.330592e+08,3.975463e+08
26,2024-07-01 00:00:00+00:00,1623515,581132,79181,52367,89,49,6,52361,5400,0.001111,200000,3.088311e+08,5.026121e+08
27,2024-07-08 00:00:00+00:00,1642390,591156,80485,53282,89,49,6,53276,5400,0.001111,200000,3.451679e+08,6.225982e+08
28,2024-07-29 00:00:00+00:00,1699571,622841,81151,54001,89,49,6,53995,5400,0.001111,200000,2.583061e+08,4.218204e+08
29,2024-07-22 00:00:00+00:00,1679602,611708,81195,53916,89,49,6,53910,5400,0.001111,200000,2.870848e+08,4.694024e+08
30,2024-07-15 00:00:00+00:00,1660384,600995,80647,53442,89,49,6,53436,5400,0.001111,200000,3.038853e+08,5.232131e+08
31,2024-08-12 00:00:00+00:00,1745012,632991,82063,54613,89,49,6,54607,5400,0.001111,250000,2.740073e+08,4.272104e+08
32,2024-08-05 00:00:00+00:00,1722396,635442,81570,54272,89,49,6,54266,5400,0.001111,250000,3.615259e+08,5.787825e+08
33,2024-08-19 00:00:00+00:00,1768407,645918,82422,54636,89,49,6,54630,5400,0.001111,250000,2.966166e+08,4.519118e+08
34,2024-08-26 00:00:00+00:00,1792206,659009,82654,54962,89,49,6,54956,5400,0.001111,250000,2.276553e+08,3.663714e+08
35,2024-09-30 00:00:00+00:00,1894957,677109,82864,65933,89,49,6,65927,5400,0.001111,300000,2.809661e+08,4.167438e+08
36,2024-09-02 00:00:00+00:00,1815859,649382,82358,62059,89,49,6,62053,5400,0.001111,300000,3.138544e+08,4.537983e+08
37,2024-09-16 00:00:00+00:00,1849319,651354,82095,63851,89,49,6,63845,5400,0.001111,300000,3.144733e+08,4.317454e+08
38,2024-09-23 00:00:00+00:00,1871883,664131,83093,64985,89,49,6,64979,5400,0.001111,300000,2.572217e+08,3.926631e+08
39,2024-09-09 00:00:00+00:00,1831734,658754,81950,62663,89,49,6,62657,5400,0.001111,300000,2.797521e+08,4.532894e+08
40,2024-11-04 00:00:00+00:00,1996806,709867,83431,56625,89,49,6,56619,5400,0.001111,350000,3.476568e+08,4.241136e+08
41,2024-10-21 00:00:00+00:00,1959468,688010,84934,56980,89,49,6,56974,5400,0.001111,350000,2.876019e+08,4.151875e+08
42,2024-10-14 00:00:00+00:00,1937995,702053,84942,57023,89,49,6,57017,5400,0.001111,350000,2.679780e+08,4.399739e+08
43,2024-10-28 00:00:00+00:00,1978332,698744,84115,56915,89,49,6,56909,5400,0.001111,350000,2.144704e+08,2.845398e+08
44,2024-11-11 00:00:00+00:00,2015295,720594,83218,56826,89,49,6,56820,5400,0.001111,350000,3.052054e+08,3.674654e+08
45,2024-10-07 00:00:00+00:00,1917288,689880,84229,56927,89,49,6,56921,5400,0.001111,350000,3.517282e+08,5.782022e+08
46,2024-11-18 00:00:00+00:00,2033603,731642,82788,56873,339,238,85,56788,13130,0.006474,350000,3.313438e+08,3.774904e+08
47,2024-11-25 00:00:00+00:00,2052546,727937,82243,56776,958,613,434,56342,30093,0.014422,350000,2.568038e+08,3.163612e+08
48,2024-12-02 00:00:00+00:00,2070985,700777,82466,56854,1254,834,609,56245,31994,0.019035,350000,3.886835e+08,4.291251e+08
49,2024-12-09 00:00:00+00:00,2089796,712566,82667,57434,1706,1162,843,56591,37395,0.022543,350000,3.548799e+08,4.187973e+08
50,2024-12-16 00:00:00+00:00,2108464,724165,82748,58297,1928,1341,984,57313,37395,0.026314,350000,3.480620e+08,3.777368e+08
51,2024-12-23 00:00:00+00:00,2129728,736290,82640,58318,2256,1595,1186,57132,39248,0.030218,350000,3.131593e+08,3.612649e+08
52,2024-12-30 00:00:00+00:00,2152496,725933,82673,58444,2399,1727,1295,57149,39248,0.032995,350000,2.923218e+08,3.381911e+08
53,2025-01-06 00:00:00+00:00,2169896,700966,82691,58432,2474,1785,1338,57094,39248,0.034091,450000,3.670956e+08,4.469671e+08
54,2025-01-13 00:00:00+00:00,2185557,710788,82947,58375,2656,1915,1432,56943,41368,0.034616,450000,3.083047e+08,3.723789e+08
55,2025-01-20 00:00:00+00:00,2202051,720853,82985,58105,2799,2007,1494,56611,41368,0.036115,450000,3.427864e+08,3.956259e+08
56,2025-01-27 00:00:00+00:00,2217301,730110,83312,58384,2989,2164,1606,56778,42742,0.037574,450000,2.463676e+08,3.130105e+08
57,2025-02-03 00:00:00+00:00,2233608,739694,83648,58338,3111,2245,1669,56669,42742,0.039048,500000,3.697289e+08,4.446947e+08
58,2025-02-10 00:00:00+00:00,2248958,733951,83805,58480,3318,2405,1785,56695,44077,0.040497,500000,3.428686e+08,4.392070e+08
59,2025-02-17 00:00:00+00:00,2265089,721995,84550,59074,3396,2467,1842,57232,44077,0.041791,500000,3.097507e+08,3.749276e+08

In [9]:
%%time
res =  pd.DataFrame()
for date in week_start_dates:
    query = f"""with 
    all_cust   --- To get the total registered customer till the cut off date
    AS( 
        SELECT count(distinct cust_id) Total_registered_users
        from prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb
        where created_dt <= "{date}" and cust_id is not null 
        ) ,
    open_TSA_cust --- TSA customer which was opened before the cut off date and closed date is either null or greater than cutoff date
    AS(
        SELECT count (distinct OFCUSTOMERID) Total_open_TSA_customers from `core_raw.customer_accounts` 
            where CRINTERDESC like 'Transactional Savings Account Inv_R'
            and OFCUSTOMERID in (select distinct cust_id 
            from prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb where cust_id is not null)
            AND OFDATEOPENED <= "{date}"
            AND (OFDATECLOSED = DATE('1970-01-01') OR  OFDATECLOSED > "{date}")
            )           
            ,
    loan_cust --list of customers having loan either in status Normal or Arrears at the cut off date
    AS (
        SELECT 
            distinct CAST(lmt.customerId AS STRING) customerId
        FROM 
            `prj-prod-dataplatform.risk_credit_mis.loan_master_table` lmt
            inner join prj-prod-dataplatform.risk_credit_mis.loan_bucket_flow_report_core lbfrc on lbfrc.loanAccountNumber = lmt.loanAccountNumber
        WHERE lbfrc.bucketDate = date_sub(date("{date}"), interval 1 day)  --- need to change the date
        and lbfrc.loanStatus IN ('Normal', 'In Arrears')
            )           
            ,
    ACL_Customer ---- ACL customer are TSBL loans with sub product type FP and disbursement date <= cutoff date
        as 
            (select lmt.customerId FROM `prj-prod-dataplatform.dl_loans_db_raw.tdbk_digital_loan_application` a
                inner join `risk_credit_mis.loan_master_table` lmt on lmt.digitalLoanAccountId = a.digitalLoanAccountId
                where coalesce(a.loanType, 'NA') = 'TSBL'and coalesce(a.loan_sub_product_type, 'NA') = 'FP'
                and date_trunc(a.loanDigitalAppliedDateAndTime, day) <= "{date}"
                and date_trunc(lmt.disbursementDateTime, day) <= "{date}" --- need to change the date
                ),
    non_ACL_cust --list of all customers who have no ACL loans (loatype TSBL and sub-product type FP)
    AS (
        SELECT 
            distinct CAST(cust_id AS STRING) customerId
        FROM 
            `prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb`
        WHERE 
            cast(cust_id as string) not in (select customerId from loan_cust)
            and created_dt <= "{date}" and cust_id is not null 
    )
    /*So, new definition of MAU is. Customer with open TSA and at least one any transaction for the amount greater than 100 PHP in the last 30 days. 
    No active loan. OR has balance of the TSA + any Stash greater than 100 PHP. Whoch means if he didnt transact but he has money on TSA - he is MAU. 
    If he doesnt transact and doesnt have money on TSA but has more than 100 PHP on Stash - he is active */
    ,        
    MAU_with_trx 
    AS (
        SELECT DISTINCT customer_id 
        FROM `prj-prod-dataplatform.risk_mart.customer_transactions`
        WHERE transaction_date BETWEEN DATE_SUB(date("{date}"), INTERVAL 30 DAY) AND date("{date}")
        AND ABS(trx_amount) > 100  --- transaction greater than 100
        AND account_type = "Tonik Account"  -- TSA account type
        AND customer_id NOT IN (SELECT customerId FROM loan_cust)  --- no active loan
        )
        ,
    MAU_with_bal 
     AS (
        SELECT 
            DISTINCT client_id 
        FROM 
            `prj-prod-dataplatform.risk_mart.customer_balance`
        WHERE
            clearedbalance > 100  --- balance in any account greater than 100
            AND account_type IN ("Tonik Account","Group Stash","Individual Stash")  ---- TSA, Group Stash and Individual Stash
            AND balanceDateAsOf between date_sub(date("{date}"), interval 30 day) and date("{date}") ---- in last 30 days
            AND client_id NOT IN (SELECT customerId FROM loan_cust) 
        )            ,
    MAU --- 
        AS (
        SELECT COUNT(distinct customer_id) AS MAU 
        FROM 
            (SELECT customer_id 
            FROM 
                MAU_with_trx
            UNION DISTINCT
            SELECT 
                client_id AS customer_id
            FROM 
                MAU_with_bal)),
    /* a) MMAU should be without active SIL, Quck and Flex loan. but when they will have ACL TSA loan - those should be included into MMAUs. 
    b)  I would like to ask you to add  
    1) the active TSA ACL loans issued (today its zero) after the MMAU.  
    2) Difference between MMAU with TSA aCL loan and TSA ACL LOans that will show us the current pool of eligible customers. 
    3) Offers extended. They should live somewhere on the datalake table. 
    For example this week we will issue 1000 offers. Next week we will issue 10 000 more. So netx week it will be 11 k offers sent.   
    And last one 4) Uptake. TSA ACL Loans active divided into Offers sent. as %.   */
    MMAU_customerbase as (select cast(customerId as string)customerId from non_ACL_cust union all (select cast(customerId as string)customerId from ACL_Customer)) , 
    transactional_cust --Mareks criteria
    AS (
        SELECT 
            DISTINCT customer_id
        FROM 
            `prj-prod-dataplatform.risk_mart.customer_transactions`
        WHERE
            transaction_date BETWEEN DATE_SUB(date("{date}"), INTERVAL 3 MONTH) AND date("{date}")
            AND customer_id in (SELECT customerId FROM MMAU_customerbase)
        GROUP BY
            customer_id
        HAVING 
            COUNT(*) >= 5
    ),
    cust_with_balance --Mareks criteria
    AS (
        SELECT 
            DISTINCT client_id AS customer_id 
        FROM 
            `prj-prod-dataplatform.risk_mart.customer_balance`
        WHERE
            clearedbalance > 1000
            AND account_type IN ("Tonik Account","Group Stash","Individual Stash")
            AND balanceDateAsOf between date_sub(date("{date}"), interval 30 day) and date("{date}")
            AND client_id in (SELECT customerId FROM MMAU_customerbase)
            ),
      MMAU
    AS (
        SELECT 
            COUNT(customer_id) AS MMAU 
        FROM 
            ( SELECT 
            customer_id 
        FROM 
            transactional_cust
        UNION DISTINCT
        SELECT 
            customer_id
        FROM 
            cust_with_balance))
          ,
    ACL_Customers_Applied
    AS (select count(digitalLoanAccountId) ACL_Applied_Loans, from `risk_credit_mis.loan_master_table` where new_loan_type = 'ACL TSA' and date_trunc(startApplyDateTime, day) <= "{date}" ),     
    ACL_Customers_Processed
    AS (select count(distinct digitalLoanAccountId) ACL_Processed_Loans from `risk_credit_mis.loan_master_table` where new_loan_type = 'ACL TSA' and date_trunc(startApplyDateTime, day) < "{date}"
    and date(decision_date) is not null), 
    ACL_customers 
    AS (
        SELECT 
      count(distinct lmt.customerId ) ACL_customers
        FROM 
            `prj-prod-dataplatform.risk_credit_mis.loan_master_table` lmt
        inner join ACL_Customer ac on ac.customerId = lmt.customerId
        WHERE 
           date(lmt.disbursementDateTime) <= date("{date}")),
    Offers_extended 
    AS (
        SELECT count(distinct cust_id) Offers_extended
    FROM 
    `prj-prod-dataplatform.dl_loans_db_raw.tdbk_loan_offers_trx` 
    where date(offer_start_date) <= date("{date}") 
    and offer_type like 'TSA_Whitelist'
    ),
    volin as 
    ( select  round(sum(case when credit_debit_indicator = 'CREDIT' then coalesce(trx_amount, 0) else 0 end),2) IncomingAmount , 
                    from prj-prod-dataplatform.risk_mart.customer_transactions 
                    where customer_id not in (select customerId from loan_cust)
                    and account_type like 'Tonik Account'
                            and status = 'Success'
                    and transaction_date between date_sub("{date}", interval 7 day) and "{date}"
                    
    )
    ,
    volout as 
    ( select  round(sum(case when credit_debit_indicator = 'DEBIT' then coalesce(abs(trx_amount), 0) else 0 end),2) OutgoingAmount
                    from prj-prod-dataplatform.risk_mart.customer_transactions 
                    where customer_id not in (select customerId from loan_cust)
                    and account_type like 'Tonik Account'
                            and status = 'Success'
                    and transaction_date between date_sub("{date}", interval 7 day) and "{date}"
                    
    )
    ,
    b
    AS (
        SELECT 
            '{date}' AS Date,
            *
        FROM 
            all_cust  
        CROSS JOIN 
            open_TSA_cust
        CROSS JOIN 
            MAU 
        CROSS JOIN 
            MMAU
        CROSS JOIN
            ACL_Customers_Applied
        CROSS JOIN
            ACL_Customers_Processed
        CROSS JOIN
            ACL_customers
        CROSS JOIN 
            Offers_extended
        CROSS JOIN
            volin
        CROSS JOIN
            volout)
    select Date,
            Total_registered_users,
            Total_open_TSA_customers,
            MAU,
            MMAU,
            ACL_Applied_Loans,
            ACL_Processed_Loans,
            ACL_customers,
            MMAU - ACL_customers  MMAU_ACL_difference, 
            Offers_extended,
            CASE 
                WHEN Offers_extended<> 0 then ACL_customers/Offers_extended 
                ELSE NULL END AS Uptake,
            mb.MAU_Budget  MAU_budget  ,
            IncomingAmount,  
            OutgoingAmount      
            from b
           left join prj-prod-dataplatform.dap_ds_poweruser_playground.MAU_Budget mb on mb.yearmonth = FORMAT_DATE('%Y-%m', date(b.Date));"""
    df = client.query(query).to_dataframe()
    res = pd.concat([res,df])

CPU times: total: 46.9 ms
Wall time: 6.59 s

In [10]:
res

,Date,Total_registered_users,Total_open_TSA_customers,MAU,MMAU,ACL_Applied_Loans,ACL_Processed_Loans,ACL_customers,MMAU_ACL_difference,Offers_extended,Uptake,MAU_budget,IncomingAmount,OutgoingAmount
0,2025-02-24,2283218,733558,84598,59005,3545,2605,1933,57072,45442,0.042538,500000,2.337337e+08,2.991775e+08

In [11]:
dfbackup.columns

Index(['Date', 'Total_registered_users', 'Total_open_TSA_customers', 'MAU',
       'MMAU', 'ACL_Applied_Loans', 'ACL_Processed_Loans', 'ACL_customers',
       'MMAU_ACL_difference', 'Offers_extended', 'Uptake', 'MAU_budget',
       'IncomingAmount', 'OutgoingAmount'],
      dtype='object')

In [12]:
res.columns

Index(['Date', 'Total_registered_users', 'Total_open_TSA_customers', 'MAU',
       'MMAU', 'ACL_Applied_Loans', 'ACL_Processed_Loans', 'ACL_customers',
       'MMAU_ACL_difference', 'Offers_extended', 'Uptake', 'MAU_budget',
       'IncomingAmount', 'OutgoingAmount'],
      dtype='object')

In [13]:
df1 = pd.concat([dfbackup, res])

In [14]:
df1

,Date,Total_registered_users,Total_open_TSA_customers,MAU,MMAU,ACL_Applied_Loans,ACL_Processed_Loans,ACL_customers,MMAU_ACL_difference,Offers_extended,Uptake,MAU_budget,IncomingAmount,OutgoingAmount
0,2024-04-22 00:00:00+00:00,1475713,534136,75272,50464,0,0,0,50464,0,NaN,75000,2.928283e+08,4.459126e+08
1,2024-04-01 00:00:00+00:00,1447164,526058,75070,50589,0,0,0,50589,0,NaN,75000,3.310704e+08,4.751903e+08
2,2024-04-08 00:00:00+00:00,1455861,525441,75103,50574,0,0,0,50574,0,NaN,75000,3.531993e+08,5.532945e+08
3,2024-04-15 00:00:00+00:00,1465200,529304,74863,50362,0,0,0,50362,0,NaN,75000,3.184236e+08,4.682940e+08
4,2024-04-29 00:00:00+00:00,1487371,531960,75309,50489,5,0,0,50489,300,0.000000,75000,2.945655e+08,4.487280e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2025-01-27 00:00:00+00:00,2217301,730110,83312,58384,2989,2164,1606,56778,42742,0.037574,450000,2.463676e+08,3.130105e+08
57,2025-02-03 00:00:00+00:00,2233608,739694,83648,58338,3111,2245,1669,56669,42742,0.039048,500000,3.697289e+08,4.446947e+08
58,2025-02-10 00:00:00+00:00,2248958,733951,83805,58480,3318,2405,1785,56695,44077,0.040497,500000,3.428686e+08,4.392070e+08
59,2025-02-17 00:00:00+00:00,2265089,721995,84550,59074,3396,2467,1842,57232,44077,0.041791,500000,3.097507e+08,3.749276e+08
0,2025-02-24,2283218,733558,84598,59005,3545,2605,1933,57072,45442,0.042538,500000,2.337337e+08,2.991775e+08

In [15]:
df = df1.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 0 to 0
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      61 non-null     object
 1   Total_registered_users    61 non-null     Int64
 2   Total_open_TSA_customers  61 non-null     Int64
 3   MAU                       61 non-null     Int64
 4   MMAU                      61 non-null     Int64
 5   ACL_Applied_Loans         61 non-null     Int64
 6   ACL_Processed_Loans       61 non-null     Int64
 7   ACL_customers             61 non-null     Int64
 8   MMAU_ACL_difference       61 non-null     Int64
 9   Offers_extended           61 non-null     Int64
 10  Uptake                    44 non-null     float64
 11  MAU_budget                61 non-null     Int64
 12  IncomingAmount            61 non-null     float64
 13  OutgoingAmount            61 non-null     float64
dtypes: Int64(10), float64(3), object(1)
memory usage: 7.7+ KB

In [16]:
import pandas as pd

# Assuming df contains your DataFrame with the data

# Convert the 'Date' column to datetime type with UTC timezone
df['Date'] = pd.to_datetime(df['Date'], utc=True)

# Sort the DataFrame by date
df = df.sort_values('Date')

# Calculate the week-on-week change for each column
for column in df.columns[1:]:  # Exclude 'Date' column
    df[f'{column}_WoW_Change'] = df[column].diff()

# Display the DataFrame with week-on-week changes
print(df)

df['ACLTSAbudget'] = 150

                        Date  Total_registered_users  \
7  2024-01-01 00:00:00+00:00                 1355336
5  2024-01-08 00:00:00+00:00                 1362292
6  2024-01-15 00:00:00+00:00                 1369085
9  2024-01-22 00:00:00+00:00                 1376006
8  2024-01-29 00:00:00+00:00                 1383107
..                       ...                     ...
56 2025-01-27 00:00:00+00:00                 2217301
57 2025-02-03 00:00:00+00:00                 2233608
58 2025-02-10 00:00:00+00:00                 2248958
59 2025-02-17 00:00:00+00:00                 2265089
0  2025-02-24 00:00:00+00:00                 2283218

    Total_open_TSA_customers    MAU   MMAU  ACL_Applied_Loans  \
7                     516362  73572  50617                  0
5                     519839  73835  50778                  0
6                     523114  74108  50845                  0
9                     516477  74288  51028                  0
8                     519803  74193  50900                  0
..                       ...    ...    ...                ...
56                    730110  83312  58384               2989
57                    739694  83648  58338               3111
58                    733951  83805  58480               3318
59                    721995  84550  59074               3396
0                     733558  84598  59005               3545

    ACL_Processed_Loans  ACL_customers  MMAU_ACL_difference  Offers_extended  \
7                     0              0                50617                0
5                     0              0                50778                0
6                     0              0                50845                0
9                     0              0                51028                0
8                     0              0                50900                0
..                  ...            ...                  ...              ...
56                 2164           1606                56778            42742
57                 2245           1669                56669            42742
58                 2405           1785                56695            44077
59                 2467           1842                57232            44077
0                  2605           1933                57072            45442

      Uptake  MAU_budget  IncomingAmount  OutgoingAmount  \
7        NaN       82693    3.244634e+08    5.013680e+08
5        NaN       82693    3.947052e+08    6.577761e+08
6        NaN       82693    3.584430e+08    5.445832e+08
9        NaN       82693    3.032386e+08    4.846881e+08
8        NaN       82693    2.989477e+08    4.626896e+08
..       ...         ...             ...             ...
56  0.037574      450000    2.463676e+08    3.130105e+08
57  0.039048      500000    3.697289e+08    4.446947e+08
58  0.040497      500000    3.428686e+08    4.392070e+08
59  0.041791      500000    3.097507e+08    3.749276e+08
0   0.042538      500000    2.337337e+08    2.991775e+08

    Total_registered_users_WoW_Change  Total_open_TSA_customers_WoW_Change  \
7                                <NA>                                 <NA>
5                                6956                                 3477
6                                6793                                 3275
9                                6921                                -6637
8                                7101                                 3326
..                                ...                                  ...
56                              15250                                 9257
57                              16307                                 9584
58                              15350                                -5743
59                              16131                               -11956
0                               18129                                11563

    MAU_WoW_Change  MMAU_WoW_Change  ACL_Applied_Loans_WoW_Change  \
7             <NA>             <NA>                          <NA>
5              263              161                             0
6              273               67                             0
9              180              183                             0
8              -95             -128                             0
..             ...              ...                           ...
56             327              279                           190
57             336              -46                           122
58             157              142                           207
59             745              594                            78
0               48              -69                           149

    ACL_Processed_Loans_WoW_Change  ACL_customers_WoW_Change  \
7                             <NA>                      <NA>
5                                0                         0
6                                0                         0
9                                0                         0
8                                0                         0
..                             ...                       ...
56                             157                       112
57                              81                        63
58                             160                       116
59                              62                        57
0                              138                        91

    MMAU_ACL_difference_WoW_Change  Offers_extended_WoW_Change  \
7                             <NA>                        <NA>
5                              161                           0
6                               67                           0
9                              183                           0
8                             -128                           0
..                             ...                         ...
56                             167                        1374
57                            -109                           0
58                              26                        1335
59                             537                           0
0                             -160                        1365

    Uptake_WoW_Change  MAU_budget_WoW_Change  IncomingAmount_WoW_Change  \
7                 NaN                   <NA>                        NaN
5                 NaN                      0               7.024183e+07
6                 NaN                      0              -3.626224e+07
9                 NaN                      0              -5.520436e+07
8                 NaN                      0              -4.290943e+06
..                ...                    ...                        ...
56           0.001459                      0              -9.641875e+07
57           0.001474                  50000               1.233613e+08
58           0.001449                      0              -2.686031e+07
59           0.001293                      0              -3.311788e+07
0            0.000747                      0              -7.601708e+07

    OutgoingAmount_WoW_Change
7                         NaN
5                1.564081e+08
6               -1.131929e+08
9               -5.989508e+07
8               -2.199849e+07
..                        ...
56              -8.261540e+07
57               1.316842e+08
58              -5.487698e+06
59              -6.427942e+07
0               -7.575008e+07

[61 rows x 27 columns]

In [17]:
# # Assuming df contains your DataFrame with the data
# # Convert the 'Date' column to datetime type
# df['Date'] = pd.to_datetime(df['Date'])

# # Sort the DataFrame by date
# df = df.sort_values('Date')


# # Calculate the week-on-week change for each column
# for column in df.columns[1:]:  # Exclude 'Date' column
#     df[f'{column}_WoW_Change'] = df[column].diff()
#     # df[f'{column}_WoW_Change'] = df[column].shift(1) - df[column]

# # Display the DataFrame with week-on-week changes
# # df['MAU_budget'] = 75000
# # df['perMAUbudget_Completion'] = round(df['MAU']/df['MAU_budget'], 2)
# df['ACLTSAbudget'] = 150
# # df['UptakeACLTSAvsbudget'] = round(df['Uptake'] / df['ACLTSAbudget'], 2)
# # df['MAUas_percent_oftotalregisteredusers'] = round(df['MAU']/df['Total_registered_users'], 2 )
# # df['MMAU_of_MAU'] = round(df['MMAU']/df['MAU'], 2)

In [18]:
df

,Date,Total_registered_users,Total_open_TSA_customers,MAU,MMAU,ACL_Applied_Loans,ACL_Processed_Loans,ACL_customers,MMAU_ACL_difference,Offers_extended,Uptake,MAU_budget,IncomingAmount,OutgoingAmount,Total_registered_users_WoW_Change,Total_open_TSA_customers_WoW_Change,MAU_WoW_Change,MMAU_WoW_Change,ACL_Applied_Loans_WoW_Change,ACL_Processed_Loans_WoW_Change,ACL_customers_WoW_Change,MMAU_ACL_difference_WoW_Change,Offers_extended_WoW_Change,Uptake_WoW_Change,MAU_budget_WoW_Change,IncomingAmount_WoW_Change,OutgoingAmount_WoW_Change,ACLTSAbudget
7,2024-01-01 00:00:00+00:00,1355336,516362,73572,50617,0,0,0,50617,0,NaN,82693,3.244634e+08,5.013680e+08,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,<NA>,NaN,NaN,150
5,2024-01-08 00:00:00+00:00,1362292,519839,73835,50778,0,0,0,50778,0,NaN,82693,3.947052e+08,6.577761e+08,6956,3477,263,161,0,0,0,161,0,NaN,0,7.024183e+07,1.564081e+08,150
6,2024-01-15 00:00:00+00:00,1369085,523114,74108,50845,0,0,0,50845,0,NaN,82693,3.584430e+08,5.445832e+08,6793,3275,273,67,0,0,0,67,0,NaN,0,-3.626224e+07,-1.131929e+08,150
9,2024-01-22 00:00:00+00:00,1376006,516477,74288,51028,0,0,0,51028,0,NaN,82693,3.032386e+08,4.846881e+08,6921,-6637,180,183,0,0,0,183,0,NaN,0,-5.520436e+07,-5.989508e+07,150
8,2024-01-29 00:00:00+00:00,1383107,519803,74193,50900,0,0,0,50900,0,NaN,82693,2.989477e+08,4.626896e+08,7101,3326,-95,-128,0,0,0,-128,0,NaN,0,-4.290943e+06,-2.199849e+07,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2025-01-27 00:00:00+00:00,2217301,730110,83312,58384,2989,2164,1606,56778,42742,0.037574,450000,2.463676e+08,3.130105e+08,15250,9257,327,279,190,157,112,167,1374,0.001459,0,-9.641875e+07,-8.261540e+07,150
57,2025-02-03 00:00:00+00:00,2233608,739694,83648,58338,3111,2245,1669,56669,42742,0.039048,500000,3.697289e+08,4.446947e+08,16307,9584,336,-46,122,81,63,-109,0,0.001474,50000,1.233613e+08,1.316842e+08,150
58,2025-02-10 00:00:00+00:00,2248958,733951,83805,58480,3318,2405,1785,56695,44077,0.040497,500000,3.428686e+08,4.392070e+08,15350,-5743,157,142,207,160,116,26,1335,0.001449,0,-2.686031e+07,-5.487698e+06,150
59,2025-02-17 00:00:00+00:00,2265089,721995,84550,59074,3396,2467,1842,57232,44077,0.041791,500000,3.097507e+08,3.749276e+08,16131,-11956,745,594,78,62,57,537,0,0.001293,0,-3.311788e+07,-6.427942e+07,150
0,2025-02-24 00:00:00+00:00,2283218,733558,84598,59005,3545,2605,1933,57072,45442,0.042538,500000,2.337337e+08,2.991775e+08,18129,11563,48,-69,149,138,91,-160,1365,0.000747,0,-7.601708e+07,-7.575008e+07,150

In [19]:
df.columns

Index(['Date', 'Total_registered_users', 'Total_open_TSA_customers', 'MAU',
       'MMAU', 'ACL_Applied_Loans', 'ACL_Processed_Loans', 'ACL_customers',
       'MMAU_ACL_difference', 'Offers_extended', 'Uptake', 'MAU_budget',
       'IncomingAmount', 'OutgoingAmount', 'Total_registered_users_WoW_Change',
       'Total_open_TSA_customers_WoW_Change', 'MAU_WoW_Change',
       'MMAU_WoW_Change', 'ACL_Applied_Loans_WoW_Change',
       'ACL_Processed_Loans_WoW_Change', 'ACL_customers_WoW_Change',
       'MMAU_ACL_difference_WoW_Change', 'Offers_extended_WoW_Change',
       'Uptake_WoW_Change', 'MAU_budget_WoW_Change',
       'IncomingAmount_WoW_Change', 'OutgoingAmount_WoW_Change',
       'ACLTSAbudget'],
      dtype='object')

In [20]:
final = df[['Date', 'Total_registered_users', 'Total_registered_users_WoW_Change', 'Total_open_TSA_customers','Total_open_TSA_customers_WoW_Change', 'MAU', 'MAU_WoW_Change'
    , 'MMAU', 'MMAU_WoW_Change', 'ACL_Applied_Loans','ACL_Applied_Loans_WoW_Change','ACL_Processed_Loans', 'ACL_Processed_Loans_WoW_Change', 'ACL_customers', 'ACL_customers_WoW_Change' 
    , 'MMAU_ACL_difference','MMAU_ACL_difference_WoW_Change', 'Offers_extended', 'Uptake', 'MAU_budget'
    ,'ACLTSAbudget', 'IncomingAmount', 'OutgoingAmount']].copy()

In [21]:
final

,Date,Total_registered_users,Total_registered_users_WoW_Change,Total_open_TSA_customers,Total_open_TSA_customers_WoW_Change,MAU,MAU_WoW_Change,MMAU,MMAU_WoW_Change,ACL_Applied_Loans,ACL_Applied_Loans_WoW_Change,ACL_Processed_Loans,ACL_Processed_Loans_WoW_Change,ACL_customers,ACL_customers_WoW_Change,MMAU_ACL_difference,MMAU_ACL_difference_WoW_Change,Offers_extended,Uptake,MAU_budget,ACLTSAbudget,IncomingAmount,OutgoingAmount
7,2024-01-01 00:00:00+00:00,1355336,<NA>,516362,<NA>,73572,<NA>,50617,<NA>,0,<NA>,0,<NA>,0,<NA>,50617,<NA>,0,NaN,82693,150,3.244634e+08,5.013680e+08
5,2024-01-08 00:00:00+00:00,1362292,6956,519839,3477,73835,263,50778,161,0,0,0,0,0,0,50778,161,0,NaN,82693,150,3.947052e+08,6.577761e+08
6,2024-01-15 00:00:00+00:00,1369085,6793,523114,3275,74108,273,50845,67,0,0,0,0,0,0,50845,67,0,NaN,82693,150,3.584430e+08,5.445832e+08
9,2024-01-22 00:00:00+00:00,1376006,6921,516477,-6637,74288,180,51028,183,0,0,0,0,0,0,51028,183,0,NaN,82693,150,3.032386e+08,4.846881e+08
8,2024-01-29 00:00:00+00:00,1383107,7101,519803,3326,74193,-95,50900,-128,0,0,0,0,0,0,50900,-128,0,NaN,82693,150,2.989477e+08,4.626896e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2025-01-27 00:00:00+00:00,2217301,15250,730110,9257,83312,327,58384,279,2989,190,2164,157,1606,112,56778,167,42742,0.037574,450000,150,2.463676e+08,3.130105e+08
57,2025-02-03 00:00:00+00:00,2233608,16307,739694,9584,83648,336,58338,-46,3111,122,2245,81,1669,63,56669,-109,42742,0.039048,500000,150,3.697289e+08,4.446947e+08
58,2025-02-10 00:00:00+00:00,2248958,15350,733951,-5743,83805,157,58480,142,3318,207,2405,160,1785,116,56695,26,44077,0.040497,500000,150,3.428686e+08,4.392070e+08
59,2025-02-17 00:00:00+00:00,2265089,16131,721995,-11956,84550,745,59074,594,3396,78,2467,62,1842,57,57232,537,44077,0.041791,500000,150,3.097507e+08,3.749276e+08
0,2025-02-24 00:00:00+00:00,2283218,18129,733558,11563,84598,48,59005,-69,3545,149,2605,138,1933,91,57072,-160,45442,0.042538,500000,150,2.337337e+08,2.991775e+08

In [22]:
sq = """drop table if exists dap_ds_poweruser_playground.TSA_Report_Marketing_Template_v2;"""
client.query(sq)

QueryJob<project=prj-prod-dataplatform, location=asia-southeast1, id=2d436055-8f65-49fd-98af-5a5d84aa63dc>

In [23]:
# Define the dataset and table references
dataset_id = 'dap_ds_poweruser_playground'
table_id = 'TSA_Report_Marketing_Template_v2'
# Define the table schema as per your DataFrame columns
schema = [
    bigquery.SchemaField("Date", "DATE"),
    bigquery.SchemaField("Total_registered_users", "INT64"),
    bigquery.SchemaField("Total_registered_users_WoW_Change", "INT64"),
    bigquery.SchemaField("Total_open_TSA_customers", "INT64"),
    bigquery.SchemaField("Total_open_TSA_customers_WoW_Change", "INT64"),
    bigquery.SchemaField("MAU", "INT64"),
    bigquery.SchemaField("MAU_WoW_Change", "INT64"),
    bigquery.SchemaField("MMAU", "INT64"),
    bigquery.SchemaField("MMAU_WoW_Change", "INT64"),
    bigquery.SchemaField("ACL_Applied_Loans", "Int64"),
    bigquery.SchemaField("ACL_Applied_Loans_WoW_Change", "Int64"),
    bigquery.SchemaField("ACL_Processed_Loans", "Int64"),
    bigquery.SchemaField("ACL_Processed_Loans_WoW_Change", "Int64"),
    bigquery.SchemaField("ACL_customers", "INT64"),
    bigquery.SchemaField("ACL_customers_WoW_Change", "INT64"),
    bigquery.SchemaField("MMAU_ACL_difference", "INT64"),
    bigquery.SchemaField("MMAU_ACL_difference_WoW_Change", "INT64"),
    bigquery.SchemaField("Offers_extended", "INT64"),
    bigquery.SchemaField("Uptake", "INT64"),
    bigquery.SchemaField("MAU_budget", "INT64"),
    bigquery.SchemaField("ACLTSAbudget", "INT64"),
    bigquery.SchemaField("IncomingAmount", "FLOAT64"),
    bigquery.SchemaField("OutgoingAmount", "FLOAT64"),
]
# Create the dataset reference
dataset_ref = client.dataset(dataset_id)
# Define the table reference
table_ref = dataset_ref.table(table_id)
# Configure the job to overwrite the table if it already exists
job_config = bigquery.LoadJobConfig()
# Load the DataFrame into BigQuery
job = client.load_table_from_dataframe(final, table_ref, job_config=job_config)
# Wait for the job to complete
job.result()
print(f"Table {table_id} created in dataset {dataset_id}.")

Table TSA_Report_Marketing_Template_v2 created in dataset dap_ds_poweruser_playground.

# MAU

In [24]:
for date in week_start_dates:
    sq = f"""with 
        all_cust   --- To get the total registered customer till the cut off date
        AS( 
            SELECT count(distinct cust_id) Total_registered_users
            from prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb
            where created_dt <= "{date}" and cust_id is not null 
            ) ,
        open_TSA_cust --- TSA customer which was opened before the cut off date and closed date is either null or greater than cutoff date
        AS(
            SELECT count (distinct OFCUSTOMERID) Total_open_TSA_customers from `core_raw.customer_accounts` 
                where CRINTERDESC like 'Transactional Savings Account Inv_R'
                and OFCUSTOMERID in (select distinct cust_id 
                from prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb where cust_id is not null)
                AND OFDATEOPENED <= "{date}"
                AND (OFDATECLOSED = DATE('1970-01-01') OR  OFDATECLOSED > "{date}")
                )           
                ,
        loan_cust --list of customers having loan either in status Normal or Arrears at the cut off date
        AS (
            SELECT 
                distinct CAST(lmt.customerId AS STRING) customerId
            FROM 
                `prj-prod-dataplatform.risk_credit_mis.loan_master_table` lmt
                inner join prj-prod-dataplatform.risk_credit_mis.loan_bucket_flow_report_core lbfrc on lbfrc.loanAccountNumber = lmt.loanAccountNumber
            WHERE lbfrc.bucketDate = date_sub(date("{date}"), interval 1 day)  --- need to change the date
            and lbfrc.loanStatus IN ('Normal', 'In Arrears')
                )           
                ,
        ACL_Customer ---- ACL customer are TSBL loans with sub product type FP and disbursement date <= cutoff date
            as 
                (select lmt.customerId FROM `prj-prod-dataplatform.dl_loans_db_raw.tdbk_digital_loan_application` a
                    inner join `risk_credit_mis.loan_master_table` lmt on lmt.digitalLoanAccountId = a.digitalLoanAccountId
                    where coalesce(a.loanType, 'NA') = 'TSBL'and coalesce(a.loan_sub_product_type, 'NA') = 'FP'
                    and date_trunc(a.loanDigitalAppliedDateAndTime, day) <= "{date}"
                    and date_trunc(lmt.disbursementDateTime, day) <= "{date}" --- need to change the date
                    ),
        non_ACL_cust --list of all customers who have no ACL loans (loatype TSBL and sub-product type FP)
        AS (
            SELECT 
                distinct CAST(cust_id AS STRING) customerId
            FROM 
                `prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb`
            WHERE 
                cast(cust_id as string) not in (select customerId from loan_cust)
                and created_dt <= "{date}" and cust_id is not null 
        )
        /*So, new definition of MAU is. Customer with open TSA and at least one any transaction for the amount greater than 100 PHP in the last 30 days. 
        No active loan. OR has balance of the TSA + any Stash greater than 100 PHP. Whoch means if he didnt transact but he has money on TSA - he is MAU. 
        If he doesnt transact and doesnt have money on TSA but has more than 100 PHP on Stash - he is active */
        ,        
        MAU_with_trx 
        AS (
            SELECT DISTINCT customer_id 
            FROM `prj-prod-dataplatform.risk_mart.customer_transactions`
            WHERE transaction_date BETWEEN DATE_SUB(date("{date}"), INTERVAL 30 DAY) AND date("{date}")
            AND ABS(trx_amount) > 100  --- transaction greater than 100
            AND account_type = "Tonik Account"  -- TSA account type
            AND customer_id NOT IN (SELECT customerId FROM loan_cust)  --- no active loan
            )
            ,
        MAU_with_bal 
        AS (
            SELECT 
                DISTINCT client_id 
            FROM 
                `prj-prod-dataplatform.risk_mart.customer_balance`
            WHERE
                clearedbalance > 100  --- balance in any account greater than 100
                AND account_type IN ("Tonik Account","Group Stash","Individual Stash")  ---- TSA, Group Stash and Individual Stash
                AND balanceDateAsOf between date_sub(date("{date}"), interval 30 day) and date("{date}") ---- in last 30 days
                AND client_id NOT IN (SELECT customerId FROM loan_cust) 
            )            ,
        MAU --- 
            AS (
            SELECT distinct customer_id AS MAU 
            FROM 
                (SELECT customer_id 
                FROM 
                    MAU_with_trx
                UNION DISTINCT
                SELECT 
                    client_id AS customer_id
                FROM 
                    MAU_with_bal))
        Select "{date}" Dated, * from MAU;"""
    
    dfd = client.query(sq).to_dataframe()

In [25]:
dfd.columns

Index(['Dated', 'MAU'], dtype='object')

In [26]:
dfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84598 entries, 0 to 84597
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Dated   84598 non-null  object
 1   MAU     84598 non-null  object
dtypes: object(2)
memory usage: 1.3+ MB

In [27]:
dfd.sample(5)

            Dated      MAU
22695  2025-02-24  3191651
49908  2025-02-24  1203803
76802  2025-02-24  1184574
71027  2025-02-24  1256223
19853  2025-02-24  1321886

In [28]:
# Define the dataset and table references
dataset_id = 'dap_ds_poweruser_playground'
table_id = 'TSA_Report_Marketing_MAU_customers'
# Define the table schema as per your DataFrame columns
schema = [
    bigquery.SchemaField("Dated", "DATE"),
    bigquery.SchemaField("MAU", "STRING"),
    ]
# Create the dataset reference
dataset_ref = client.dataset(dataset_id)
# Define the table reference
table_ref = dataset_ref.table(table_id)
# Configure the job to overwrite the table if it already exists
job_config = bigquery.LoadJobConfig()
# Load the DataFrame into BigQuery
job = client.load_table_from_dataframe(dfd, table_ref, job_config=job_config)
# Wait for the job to complete
job.result()
print(f"Table {table_id} created in dataset {dataset_id}.")

Table TSA_Report_Marketing_MAU_customers created in dataset dap_ds_poweruser_playground.

In [29]:
df = client.query("""select * from dap_ds_poweruser_playground.TSA_Report_Marketing_MAU_customers;""").to_dataframe(progress_bar_type='tqdm')
df.shape

Job ID a332a531-cd55-4a9f-b98f-ab8e1ed95391 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

(3051036, 2)

In [30]:
import os
from datetime import date

# Original filename
original_file = "TSA_Report_Marketing_MAU_customers.csv"

# Get today's date in YYYY-MM-DD format
today = date.today().strftime("%Y-%m-%d")

# Create the new filename with today's date
new_file = f"TSA_Report_Marketing_MAU_customers_{today}.csv"
print(f"File renamed to: {new_file}")

File renamed to: TSA_Report_Marketing_MAU_customers_2025-02-24.csv

In [31]:
df.to_csv(new_file, index = False)

In [32]:
df.columns

Index(['Dated', 'MAU'], dtype='object')

In [33]:
# Convert 'Dated' column to datetime format
df['Dated'] = pd.to_datetime(df['Dated'])

In [34]:
df['Dated'].value_counts().sort_index()

Dated
2024-06-17    77702
2024-06-24    77976
2024-07-01    79181
2024-07-08    80485
2024-07-15    80647
2024-07-22    81195
2024-07-29    81151
2024-08-05    81570
2024-08-12    82063
2024-08-19    82422
2024-08-26    82654
2024-09-02    82358
2024-09-09    81950
2024-09-16    82095
2024-09-23    83093
2024-09-30    82864
2024-10-07    84229
2024-10-14    84942
2024-10-21    84934
2024-10-28    84115
2024-11-04    83431
2024-11-11    83218
2024-11-18    82788
2024-11-25    82243
2024-12-02    82466
2024-12-09    82667
2024-12-16    82748
2024-12-23    82640
2024-12-30    82673
2025-01-06    82691
2025-01-13    82947
2025-01-20    82985
2025-01-27    83312
2025-02-03    83648
2025-02-10    83805
2025-02-17    84550
2025-02-24    84598
Name: count, dtype: int64

In [35]:
# Separate data into two dataframes based on date
df_250217 = df[df['Dated'] == '2025-02-17'].reset_index(drop=True)
df_250224 = df[df['Dated'] == '2025-02-24'].reset_index(drop=True)

In [36]:
df_250217.head()

       Dated      MAU
0 2025-02-17  2707658
1 2025-02-17  2810460
2 2025-02-17  2695709
3 2025-02-17  2841251
4 2025-02-17  3108903

In [37]:
df_250224.head()

       Dated      MAU
0 2025-02-24  1194958
1 2025-02-24  1192692
2 2025-02-24  1825105
3 2025-02-24  1067543
4 2025-02-24  2715543

In [38]:
# Merge to find customers present on both dates
merged = pd.merge(df_250217, df_250224, on='MAU', suffixes=('_250217', '_250224'), how='outer')
merged

      Dated_250217      MAU Dated_250224
0       2025-02-17  1000000   2025-02-24
1       2025-02-17  1000001   2025-02-24
2       2025-02-17  1000002   2025-02-24
3       2025-02-17  1000004   2025-02-24
4       2025-02-17  1000008   2025-02-24
...            ...      ...          ...
88571          NaT  3283487   2025-02-24
88572          NaT  3283489   2025-02-24
88573          NaT  3283497   2025-02-24
88574          NaT  3283500   2025-02-24
88575          NaT  3283503   2025-02-24

[88576 rows x 3 columns]

In [39]:
# Function to categorize customer presence
def categorize_presence(row):
    if pd.isna(row['Dated_250224']):
        return 'Not available on 2025-02-24'
    elif pd.isna(row['Dated_250217']):
        return 'New joiner on 2025-02-24'
    else:
        return 'Carry forward from 2025-02-17'

# Apply function to create category column
merged['Category'] = merged.apply(categorize_presence, axis=1)

# Display the result
print(merged[['MAU', 'Category']])

           MAU                       Category
0      1000000  Carry forward from 2025-02-17
1      1000001  Carry forward from 2025-02-17
2      1000002  Carry forward from 2025-02-17
3      1000004  Carry forward from 2025-02-17
4      1000008  Carry forward from 2025-02-17
...        ...                            ...
88571  3283487       New joiner on 2025-02-24
88572  3283489       New joiner on 2025-02-24
88573  3283497       New joiner on 2025-02-24
88574  3283500       New joiner on 2025-02-24
88575  3283503       New joiner on 2025-02-24

[88576 rows x 2 columns]

In [40]:
merged['Category'].value_counts(dropna=False)

Category
Carry forward from 2025-02-17    80572
New joiner on 2025-02-24          4026
Not available on 2025-02-24       3978
Name: count, dtype: int64

In [41]:
merged.groupby('Category')['MAU'].nunique()

Category
Carry forward from 2025-02-17    80572
New joiner on 2025-02-24          4026
Not available on 2025-02-24       3978
Name: MAU, dtype: int64

In [42]:
merged['Balance_date'] = '2025-02-24'

In [43]:
merged.head()

,Dated_250217,MAU,Dated_250224,Category,Balance_date
0,2025-02-17,1000000,2025-02-24,Carry forward from 2025-02-17,2025-02-24
1,2025-02-17,1000001,2025-02-24,Carry forward from 2025-02-17,2025-02-24
2,2025-02-17,1000002,2025-02-24,Carry forward from 2025-02-17,2025-02-24
3,2025-02-17,1000004,2025-02-24,Carry forward from 2025-02-17,2025-02-24
4,2025-02-17,1000008,2025-02-24,Carry forward from 2025-02-17,2025-02-24

In [44]:
merged = merged[['Balance_date', 'Dated_250217', 'Dated_250224', 'MAU', 'Category']].copy()

In [45]:
merged

,Balance_date,Dated_250217,Dated_250224,MAU,Category
0,2025-02-24,2025-02-17,2025-02-24,1000000,Carry forward from 2025-02-17
1,2025-02-24,2025-02-17,2025-02-24,1000001,Carry forward from 2025-02-17
2,2025-02-24,2025-02-17,2025-02-24,1000002,Carry forward from 2025-02-17
3,2025-02-24,2025-02-17,2025-02-24,1000004,Carry forward from 2025-02-17
4,2025-02-24,2025-02-17,2025-02-24,1000008,Carry forward from 2025-02-17
...,...,...,...,...,...
88571,2025-02-24,NaT,2025-02-24,3283487,New joiner on 2025-02-24
88572,2025-02-24,NaT,2025-02-24,3283489,New joiner on 2025-02-24
88573,2025-02-24,NaT,2025-02-24,3283497,New joiner on 2025-02-24
88574,2025-02-24,NaT,2025-02-24,3283500,New joiner on 2025-02-24
88575,2025-02-24,NaT,2025-02-24,3283503,New joiner on 2025-02-24

In [46]:
merged.rename(columns={'Dated_250217':'Previousdate', 'Dated_250224':'CurrentDate', 'MAU':'MAU_customerid'}, inplace = True)

In [47]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88576 entries, 0 to 88575
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Balance_date    88576 non-null  object
 1   Previousdate    84550 non-null  datetime64[ns]
 2   CurrentDate     84598 non-null  datetime64[ns]
 3   MAU_customerid  88576 non-null  object
 4   Category        88576 non-null  object
dtypes: datetime64[ns](2), object(3)
memory usage: 3.4+ MB

In [48]:
merged['Category'].value_counts()

Category
Carry forward from 2025-02-17    80572
New joiner on 2025-02-24          4026
Not available on 2025-02-24       3978
Name: count, dtype: int64

In [49]:
# Define the dataset and table references
dataset_id = 'dap_ds_poweruser_playground'
table_id = 'TSA_Report_Marketing_MAU_customers_differance_category'
# Define the table schema as per your DataFrame columns
schema = [
    bigquery.SchemaField("Balance_date", "DATE"),
    bigquery.SchemaField("PreviousDate", "DATE"),
    bigquery.SchemaField("CurrentDate", "DATE"),
    bigquery.SchemaField("MAU_customerid", "STRING"),
    bigquery.SchemaField("Category", "STRING"),
    ]
# Create the dataset reference
dataset_ref = client.dataset(dataset_id)
# Define the table reference
table_ref = dataset_ref.table(table_id)
# Configure the job to overwrite the table if it already exists
job_config = bigquery.LoadJobConfig()
# Load the DataFrame into BigQuery
job = client.load_table_from_dataframe(merged, table_ref, job_config=job_config)
# Wait for the job to complete
job.result()
print(f"Table {table_id} created in dataset {dataset_id}.")

Table TSA_Report_Marketing_MAU_customers_differance_category created in dataset dap_ds_poweruser_playground.

# MMAU Data

In [50]:
%%time
res =  pd.DataFrame()
for date in week_start_dates:
    query = f"""with 
    all_cust   --- To get the total registered customer till the cut off date
    AS( 
        SELECT count(distinct cust_id) Total_registered_users
        from prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb
        where created_dt <= "{date}" and cust_id is not null 
        ) ,
    open_TSA_cust --- TSA customer which was opened before the cut off date and closed date is either null or greater than cutoff date
    AS(
        SELECT count (distinct OFCUSTOMERID) Total_open_TSA_customers from `core_raw.customer_accounts` 
            where CRINTERDESC like 'Transactional Savings Account Inv_R'
            and OFCUSTOMERID in (select distinct cust_id 
            from prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb where cust_id is not null)
            AND OFDATEOPENED <= "{date}"
            AND (OFDATECLOSED = DATE('1970-01-01') OR  OFDATECLOSED > "{date}")
            )           
            ,
    loan_cust --list of customers having loan either in status Normal or Arrears at the cut off date
    AS (
        SELECT 
            distinct CAST(lmt.customerId AS STRING) customerId
        FROM 
            `prj-prod-dataplatform.risk_credit_mis.loan_master_table` lmt
            inner join prj-prod-dataplatform.risk_credit_mis.loan_bucket_flow_report_core lbfrc on lbfrc.loanAccountNumber = lmt.loanAccountNumber
        WHERE lbfrc.bucketDate = date_sub(date("{date}"), interval 1 day)  --- need to change the date
        and lbfrc.loanStatus IN ('Normal', 'In Arrears')
            )           
            ,
    ACL_Customer ---- ACL customer are TSBL loans with sub product type FP and disbursement date <= cutoff date
        as 
            (select lmt.customerId FROM `prj-prod-dataplatform.dl_loans_db_raw.tdbk_digital_loan_application` a
                inner join `risk_credit_mis.loan_master_table` lmt on lmt.digitalLoanAccountId = a.digitalLoanAccountId
                where coalesce(a.loanType, 'NA') = 'TSBL'and coalesce(a.loan_sub_product_type, 'NA') = 'FP'
                and date_trunc(a.loanDigitalAppliedDateAndTime, day) <= "{date}"
                and date_trunc(lmt.disbursementDateTime, day) <= "{date}" --- need to change the date
                ),
    non_ACL_cust --list of all customers who have no ACL loans (loatype TSBL and sub-product type FP)
    AS (
        SELECT 
            distinct CAST(cust_id AS STRING) customerId
        FROM 
            `prj-prod-dataplatform.dl_customers_db_raw.tdbk_customer_mtb`
        WHERE 
            cast(cust_id as string) not in (select customerId from loan_cust)
            and created_dt <= "{date}" and cust_id is not null 
    )
    /*So, new definition of MAU is. Customer with open TSA and at least one any transaction for the amount greater than 100 PHP in the last 30 days. 
    No active loan. OR has balance of the TSA + any Stash greater than 100 PHP. Whoch means if he didnt transact but he has money on TSA - he is MAU. 
    If he doesnt transact and doesnt have money on TSA but has more than 100 PHP on Stash - he is active */
    ,        
    MAU_with_trx 
    AS (
        SELECT DISTINCT customer_id 
        FROM `prj-prod-dataplatform.risk_mart.customer_transactions`
        WHERE transaction_date BETWEEN DATE_SUB(date("{date}"), INTERVAL 30 DAY) AND date("{date}")
        AND ABS(trx_amount) > 100  --- transaction greater than 100
        AND account_type = "Tonik Account"  -- TSA account type
        AND customer_id NOT IN (SELECT customerId FROM loan_cust)  --- no active loan
        )
        ,
    MAU_with_bal 
     AS (
        SELECT 
            DISTINCT client_id 
        FROM 
            `prj-prod-dataplatform.risk_mart.customer_balance`
        WHERE
            clearedbalance > 100  --- balance in any account greater than 100
            AND account_type IN ("Tonik Account","Group Stash","Individual Stash")  ---- TSA, Group Stash and Individual Stash
            AND balanceDateAsOf between date_sub(date("{date}"), interval 30 day) and date("{date}") ---- in last 30 days
            AND client_id NOT IN (SELECT customerId FROM loan_cust) 
        )            ,
    MAU --- 
        AS (
        SELECT COUNT(distinct customer_id) AS MAU 
        FROM 
            (SELECT customer_id 
            FROM 
                MAU_with_trx
            UNION DISTINCT
            SELECT 
                client_id AS customer_id
            FROM 
                MAU_with_bal)),
    /* a) MMAU should be without active SIL, Quck and Flex loan. but when they will have ACL TSA loan - those should be included into MMAUs. 
    b)  I would like to ask you to add  
    1) the active TSA ACL loans issued (today its zero) after the MMAU.  
    2) Difference between MMAU with TSA aCL loan and TSA ACL LOans that will show us the current pool of eligible customers. 
    3) Offers extended. They should live somewhere on the datalake table. 
    For example this week we will issue 1000 offers. Next week we will issue 10 000 more. So netx week it will be 11 k offers sent.   
    And last one 4) Uptake. TSA ACL Loans active divided into Offers sent. as %.   */
    MMAU_customerbase as (select cast(customerId as string)customerId from non_ACL_cust union all (select cast(customerId as string)customerId from ACL_Customer)) , 
    transactional_cust --Mareks criteria
    AS (
        SELECT 
            DISTINCT customer_id
        FROM 
            `prj-prod-dataplatform.risk_mart.customer_transactions`
        WHERE
            transaction_date BETWEEN DATE_SUB(date("{date}"), INTERVAL 3 MONTH) AND date("{date}")
            AND customer_id in (SELECT customerId FROM MMAU_customerbase)
        GROUP BY
            customer_id
        HAVING 
            COUNT(*) >= 5
    ),
    cust_with_balance --Mareks criteria
    AS (
        SELECT 
            DISTINCT client_id AS customer_id 
        FROM 
            `prj-prod-dataplatform.risk_mart.customer_balance`
        WHERE
            clearedbalance > 1000
            AND account_type IN ("Tonik Account","Group Stash","Individual Stash")
            AND balanceDateAsOf between date_sub(date("{date}"), interval 30 day) and date("{date}")
            AND client_id in (SELECT customerId FROM MMAU_customerbase)
            ),
      MMAU
    AS (
        SELECT 
         Dated,  MMAU, querycategory 
        FROM 
            ( SELECT 
            '{date}' Dated, customer_id MMAU, 'Transaction' querycategory 
            FROM 
            transactional_cust
        UNION distinct
        SELECT 
           '{date}' Dated, customer_id MMAU, 'Balance' querycategory 
        FROM 
            cust_with_balance)
        )
    select * from MMAU;
    
    """
    df = client.query(query).to_dataframe()
    res = pd.concat([res,df])

CPU times: total: 656 ms
Wall time: 10.2 s

In [51]:
res.head()

        Dated     MMAU querycategory
0  2025-02-24  2444752       Balance
1  2025-02-24  1028828       Balance
2  2025-02-24  1001140       Balance
3  2025-02-24  1033358       Balance
4  2025-02-24  1137013       Balance

In [52]:
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83664 entries, 0 to 83663
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Dated          83664 non-null  object
 1   MMAU           83664 non-null  object
 2   querycategory  83664 non-null  object
dtypes: object(3)
memory usage: 1.9+ MB

In [53]:
# Define the dataset and table references
dataset_id = 'dap_ds_poweruser_playground'
table_id = 'TSA_Report_Marketing_MMAU_customers'
# Define the table schema as per your DataFrame columns
schema = [
    bigquery.SchemaField("Dated", "DATE"),
    bigquery.SchemaField("MMAU", "STRING"),
    ]
# Create the dataset reference
dataset_ref = client.dataset(dataset_id)
# Define the table reference
table_ref = dataset_ref.table(table_id)
# Configure the job to overwrite the table if it already exists
job_config = bigquery.LoadJobConfig()
# Load the DataFrame into BigQuery
job = client.load_table_from_dataframe(res, table_ref, job_config=job_config)
# Wait for the job to complete
job.result()
print(f"Table {table_id} created in dataset {dataset_id}.")

Table TSA_Report_Marketing_MMAU_customers created in dataset dap_ds_poweruser_playground.

In [54]:
df = client.query("""select * from dap_ds_poweruser_playground.TSA_Report_Marketing_MMAU_customers;""").to_dataframe(progress_bar_type='tqdm')
df.shape

Job ID 43eb272b-9b68-4686-b21b-46c644a54df9 successfully executed: 100%|██████████|
Downloading: 100%|██████████|

(2113782, 3)

In [55]:
df.head()

        Dated     MMAU querycategory
0  2025-02-24  1033358       Balance
1  2025-02-24  1039972       Balance
2  2025-02-24  3228612       Balance
3  2025-02-24  2272400       Balance
4  2025-02-24  1406544       Balance

In [56]:
df.groupby(['querycategory', 'Dated'])['MMAU'].nunique()

querycategory  Dated
Balance        2024-09-09    44506
               2024-09-16    44901
               2024-09-23    45098
               2024-09-30    45316
               2024-10-07    45653
               2024-10-14    45720
               2024-10-21    45430
               2024-10-28    45159
               2024-11-04    44592
               2024-11-11    44605
               2024-11-18    44507
               2024-11-25    44374
               2024-12-02    44441
               2024-12-09    44901
               2024-12-16    45124
               2024-12-23    45405
               2024-12-30    45813
               2025-01-06    45747
               2025-01-13    45936
               2025-01-20    45576
               2025-01-27    45748
               2025-02-03    45721
               2025-02-10    45749
               2025-02-17    46285
               2025-02-24    46022
Transaction    2024-09-09    51046
               2024-09-16    52339
               2024-09-23    53746
               2024-09-30    54612
               2024-10-07    36083
               2024-10-14    36126
               2024-10-21    36183
               2024-10-28    36081
               2024-11-04    35835
               2024-11-11    35911
               2024-11-18    35919
               2024-11-25    35983
               2024-12-02    36043
               2024-12-09    36269
               2024-12-16    37739
               2024-12-23    37472
               2024-12-30    37240
               2025-01-06    37092
               2025-01-13    36765
               2025-01-20    36781
               2025-01-27    36905
               2025-02-03    36927
               2025-02-10    37201
               2025-02-17    37513
               2025-02-24    37642
Name: MMAU, dtype: int64

In [57]:
df.to_csv(new_file, index = False)